@media only screen and (max-width: 999px) {
.titulo{
    position: relative;
    font-size: 79px;
    color: white;
    text-align: center;
    font-family: fantasy; 
    
    
    padding-left: 20%;
    margin-top: 7%;
    
}
a{
    text-decoration:none;
}
ion-row img{
    
    width: 80%;
    position: relative;
    left: 8%;
    top: 10%;
    margin-top: 8%;
    margin-bottom: 15%;
}
ion-content {
    //--background: linear-gradient(#810cee, #4da5f7);
    
    --background: #fff url('../../assets/images/fondoAPP-Aitana-Intro.png') no-repeat center center / cover;
}
.botonPrincipal{
    padding-left: 10%;
    width: 90%;
    --color: #FFC75F;
    --ion-color-base:#FFC75F;
}
ion-item ion-icon{
    font-size: 24px;
}
}

@media only screen and (min-width: 1000px) {
    .titulo{
        position: relative;
        font-size: 79px;
        color: white;
        text-align: center;
        font-family: fantasy; 
        
        
        padding-left: 20%;
        margin-top: 7%;
        
    }
    a{
        text-decoration:none;
    }
    ion-row img{
        
        width: 80%;
        position: relative;
        left: 8%;
        top: 10%;
        margin-top: 8%;
        margin-bottom: 15%;
    }
    ion-content {
        //--background: linear-gradient(#810cee, #4da5f7);
        
        --background: #fff url('../../assets/images/fondoAPP-Aitana-Intro.png') no-repeat center center / cover;
    }
    .botonPrincipal{
        padding-left: 10%;
        height: 70px;
        font-size:30px ;
        width: 90%;
        --color: #FFC75F;
        --ion-color-base:#FFC75F;
    }
    ion-input{
        font-size: 30px;
    }
    ion-item ion-icon{
        font-size: 54px;
    }
}