<ion-content>
  
   <ion-text>
     <h1 class="titulo"><b>Aitana</b></h1>
   </ion-text>
  
   <br>
  
   <div class="contenedor">
     <ion-item color="transparent" lines="none" class="contenedor-item">
       <ion-icon  name="close-circle-outline" class="icono"></ion-icon>
        <ion-label>alonso.carlos@mail.com</ion-label>
     </ion-item>
      <p style="font-size: small; margin-left: 15%; margin-top: -2%; color: grey;" >email pendiente de confirmar</p>
  
     <br>
  
      <div class="contenedor-secundario">
         <p style="font-size: small;">Se ha enviado un email de confirmación <br> a  <b>alonso.carlos@mail.com</b>. Dirijasé a su <br> bandeja de entrada para confirmar este <br> cambio.</p>
      </div>
  
      <br>
      <div style=" margin-left: -5%;">
       <ion-button  color="warning" class="boton">REENVIAR CONFIRMACIÓN</ion-button>
      </div>
  
    </div>
  
  </ion-content>
