.footer {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    font-size: 25px;
    background-color: black;
    color: white;
    text-align: center;
    font-family: fantasy;
    
    top: 93%;
     ;
 }
 img{
     padding-top: 6px;
     height: 60%;
     
 }