<ion-row class="columnaTitulo" >
  <ion-col size="1"> <ion-icon name="{{textIcono}}" class="icono" (click)="volver()"></ion-icon></ion-col>
  <ion-col>
    <ion-label class="textTickets">{{titulo}}</ion-label>
  </ion-col>
  
  
</ion-row>
