.headerSecondario{
    width: 100%;
}
.headerSecondario ion-col{
    position: relative;
    left: 30%;
    padding-top:3% ;
    padding-bottom: 1% ;
    
}
.textContenido{
    padding-left: 3%;
    padding-top: 3%;
    font-weight: 600;
    color: rgb(13, 166, 236);
}
ion-item{
    border-radius: 5px;
    margin-left: 3%;
    margin-right: 3%;
    border: 1px solid rgb(199, 196, 196);
}
ion-button{
    width: 100%;
    margin-left:4% ;
    margin-right: 4%;
}
