<app-barra-usuario></app-barra-usuario>

<ion-content>
  <app-header-secundario-aitana004 [titulo]="'Filtrado ticket'" [numIcono]="1" [ruta]="ruta"></app-header-secundario-aitana004>
  <ion-row><ion-label class="textContenido">Introduce el campo del ticket</ion-label></ion-row>
  <ion-item><ion-input placeholder="3289322.." #input></ion-input></ion-item>
  
  <ion-row><ion-button  (click)="buscarTicket(input)"> Buscar</ion-button></ion-row>
  <app-footer></app-footer>
</ion-content>