<ion-content>

  <ion-row>
    <img src="../../assets/images/aitana-title.png">
  </ion-row>
  
  <ion-text>
    <h2 class="tituloSecundario"><b>Regístrate para poder acceder a<br> la aplicación</b></h2>
  </ion-text>


  <ion-item color="transparent" lines="none" class="inputs">
    <ion-input type="text" placeholder="Nombre" #nombre></ion-input>
  </ion-item>


  <ion-item color="transparent" lines="none" class="inputs">
    <ion-input type="text" placeholder="Apellidos" #apellido></ion-input>
  </ion-item>

  <ion-item color="transparent" lines="none" class="inputs">
    <ion-input type="email" placeholder="Correo electrónico" #correo></ion-input>
  </ion-item>
 

  
  <ion-item color="transparent" lines="none" class="inputs">
    <ion-input name="password" placeholder="Introduce tu constraseña" [type]="showPassword ? 'text' : 'password'" #pass></ion-input>
    <ion-icon slot="end" [name]="iconoPassword" (click)="mostrarPassword()"></ion-icon>
  </ion-item>
  
 
  <ion-item color="transparent" lines="none" class="inputs">
    <ion-input   type="password" placeholder="Repite tu contraseña" #passRe></ion-input>
  </ion-item>

  <ion-item color="transparent" lines="none">
    <ion-checkbox></ion-checkbox>
    <ion-label class="texto">Acepto los <strong>Términos</strong> y <strong>condiciones</strong></ion-label>
  </ion-item>


  <ion-button shape="round" color="warning" class="boton"><h6 style="color: white;" (click)="registrar(nombre,apellido,correo,pass,passRe)">Aceptar y Registrarme</h6></ion-button>
  

<hr>

<ion-text>
  <p class="textoProovedores">Regístrate usando la cuenta<br> de estos proovedores</p>
</ion-text>
  
<ion-row>
  <ion-col>
    
    <ion-button icon-end class="botonAcceder" >
      <div class="custom-button-content">
        <ion-icon name="logo-twitter" size="small" ></ion-icon>
        <ion-label class="textCompartir">TWITTER</ion-label>
      </div>
      
    </ion-button>
    
  </ion-col>
  <ion-col>
    
    <ion-button color="primary" icon-end class="botonAcceder" >
      <div class="custom-button-content">
      <ion-icon name="logo-facebook" size="small"  ></ion-icon>
      <ion-label class="textCompartir">FACEBOOK</ion-label>
      
      </div>
    </ion-button>
    
  </ion-col>
  <ion-col>
    <ion-button color="danger" icon-end class="botonAcceder">
      <div class="custom-button-content">
      <ion-icon name="logo-google" size="small"></ion-icon>
      <ion-label class="textCompartir">GOOGLE</ion-label>
    </div>
    </ion-button>
    
  </ion-col>
</ion-row>

</ion-content>
