.titulo{
    margin-top: 10%;
    text-align: center;
    font-family: fantasy;
    color: white;
    font-size: 85px;
}


.tituloSecundario{
    margin-top: 8%;
    text-align: center;
    color: gold;
    font-size: 20px;
}

.boton{
    margin-top: 10%;
    padding-left: 10%;
    width: 90%;
    
}

.texto{
    color:white;
    font-size: small;
}

.inputs{
    margin-top: 5%;
    border-left: thick solid rgb(255, 208, 0);
    width: 90%;
    background-color: white;
    margin-left: 20px;
    
}

.boton{
    
    position: relative;
    top: -30px;
    padding-left: 10%;
    width: 90%;
    float: center;
   
   
}


.botonAcceder{
    height: 200%;
    
}

.custom-button-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    height: 50%;
    
}

.textCompartir{
    font-size: 8px;
    font-family:Arial, Helvetica, sans-serif;
}

.textoProovedores{
    color: white;
    text-align: center;
    
}



 hr {
        
        padding-left: 5%;
        padding-right: 5%;
        height: 2px !important;
        width: 30% !important;
        background: greenyellow !important;
        display: block !important;
        font-size: 2em !important;
        opacity: 1 !important;
        visibility: visible !important;
     }
     


ion-content {
    --background: linear-gradient(#810cee, #4da5f7);
}

.error{
    margin-left:4% ;
    margin-right: 4%;
    margin-bottom: 3%;
    border-radius: 10px;
    background-color: red;
    color: yellow;
    
    padding-left: 3%;
    padding-top: 3%;
    padding-bottom: 3%;
    
}