<app-barra-usuario></app-barra-usuario>

<ion-content>
  
   <ion-row >
    <ion-item color="secondary" class="headerSecondario">
      <ion-icon name="arrow-back-outline" class="icono"></ion-icon>
    <ion-label class="textTickets">Centro de conocimiento</ion-label>
    <ion-icon name="search-outline" slot="end" [routerLink]="['/aitana006s']"></ion-icon>
    </ion-item>
    
  </ion-row>
  <ion-row  class="tituloFiltrado">Filtrado por:</ion-row>
  <ion-row style="margin-bottom: 3%; padding-left:2%;">
    <ion-label  class="filtroCategoria">PROGRAMACIÓN </ion-label>
    <ion-label class="filtroFabricante"> ASUS</ion-label>
  </ion-row><!--
  <ion-row class="contenido">
    <ion-col size="3">
      <img src="../../../assets/images/pdfImagen.png">
    </ion-col>
    <ion-col>
      <ion-row class="titulo">ASUS VivoBook 14</ion-row>
      <ion-row class="fecha">05/04/2018 14:58</ion-row>
      <ion-row>
        <ion-label class="filtroFabricante">ASUS</ion-label>
        <ion-label class="filtroModelo">VivoBook 14</ion-label>
       
      </ion-row>
    </ion-col>
  </ion-row>-->
  <ion-row class="contenido" *ngFor="let archivo of archivos">
    
    <ion-col size="3">
      <img src="../../../assets/images/pdfImagen.png">
    </ion-col>
    <ion-col>
      <ion-row class="titulo">{{archivo.titulo}}</ion-row>
      <ion-row class="fecha">{{archivo.fecha}} {{archivo.hora}}</ion-row>
      <ion-row>
        <ion-label class="filtroFabricante">{{archivo.marca}}</ion-label>
        <ion-label class="filtroModelo">{{archivo.modelo}}</ion-label> 
      </ion-row>
    </ion-col>
  </ion-row><!--
  <ion-row class="contenido">
    <ion-col size="3">
      <img src="../../../assets/images/pdfImagen.png">
    </ion-col>
    <ion-col>
      <ion-row class="titulo">ASUS TUF Gaming FX505</ion-row>
      <ion-row class="fecha">05/04/2018 11:23</ion-row>
      <ion-row>
        <ion-label class="filtroFabricante">ASUS</ion-label>
        <ion-label class="filtroModelo">TUF Gaming FX505</ion-label>
       
      </ion-row>
    </ion-col>
  </ion-row>
  <ion-row class="contenido">
    <ion-col size="3">
      <img src="../../../assets/images/pdfImagen.png">
    </ion-col>
    <ion-col>
      <ion-row class="titulo">ASUS ROG Strix</ion-row>
      <ion-row class="fecha">05/04/2018 13:45</ion-row>
      <ion-row>
        <ion-label class="filtroFabricante">ASUS</ion-label>
        <ion-label class="filtroModelo">ROG Strix</ion-label>
       
      </ion-row>
    </ion-col>
  </ion-row>
  <ion-row class="contenido">
    <ion-col size="3">
      <img src="../../../assets/images/pdfImagen.png">
    </ion-col>
    <ion-col>
      <ion-row class="titulo">ASUS ZenBook Flip 13</ion-row>
      <ion-row class="fecha">05/04/2018 13:45</ion-row>
      <ion-row>
        <ion-label class="filtroFabricante">ASUS</ion-label>
        <ion-label class="filtroModelo"> ZenBook Flip 13<</ion-label>
       
      </ion-row>
    </ion-col>
  </ion-row>-->
  <br><br>
  <app-footer></app-footer>
</ion-content>
