.headerSecondario{
    width: 100%;
}
.headerSecondario ion-col{
    position: relative;
    left: 30%;
    padding-top:3% ;
    padding-bottom: 1% ;
    
}
.contenido{
    border: 1px solid grey;
    border-radius: 10px;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 3%;
}
.contenido img{
    width: 60px;
    height: 70px;
}
.tituloFiltrado{
    color:aqua;
    margin-top: 3%;
    margin-bottom: 3%;
}
.filtroFabricante{
    color:white;
    border-radius: 4px;
    background: green;
    font-size: 14px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    margin-right: 2%;
}
.filtroCategoria{
    color:white;
    border-radius: 4px;
    background: black;
    font-size: 14px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    margin-right: 4%;
}
.filtroModelo{
    color:white;
    border-radius: 4px;
    background: red;
    font-size: 14px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    margin-right: 4%;
}
.titulo{
    color: aqua;
    font-size: 20px;

}
.fecha{
    font-size: 14px;
    color: gray;
}