<app-barra-usuario></app-barra-usuario>

<ion-content>
   <ion-row >
    <ion-item color="secondary" class="headerSecondario">
      <ion-icon name="arrow-back-outline" class="icono" [routerLink]="['/aitana006r']"></ion-icon>
    <ion-label class="textTickets">Centro de conocimiento</ion-label>
    </ion-item>
    
  </ion-row>
  <ion-row class="titulo">TÍTULO</ion-row>
  <ion-row class="input"><ion-select placeholder="Todas"></ion-select></ion-row>

  <ion-row class="titulo">CATEGORIA</ion-row>
  <ion-row class="input"><ion-select placeholder="Todas"></ion-select></ion-row>

  <ion-row class="titulo">FABRICANTE</ion-row>
  <ion-row class="input"><ion-select placeholder="ASUS" value="Asus">
    <ion-select-option value="Asus">Asus</ion-select-option>
  </ion-select></ion-row>

  <ion-row class="titulo">MODELO</ion-row>
  <ion-row class="input"><ion-select placeholder="Selecciona un modelo"></ion-select></ion-row>

  <ion-row>
    <ion-button color="danger">ELIMINAR FILTROS</ion-button>
  </ion-row>
  <ion-row>
    <ion-button >ACEPTAR</ion-button>
  </ion-row>
  <app-footer></app-footer>
</ion-content>
