.headerSecondario{
    width: 100%;
}
.headerSecondario ion-col{
    position: relative;
    left: 30%;
    padding-top:3% ;
    padding-bottom: 1% ;
    
}
.titulo{
    padding-left: 3%;
    color: rgb(0, 174, 255);
    font-weight: 600;
    margin-top: 3%;
    margin-bottom: 3%;
}
.input{
    border-radius: 5px;
    margin-left: 3%;
    border: 1px solid grey;
}
.input ion-select{
    width: 100%;
    color: grey;
}

ion-button{
    width: 100%;
    margin: 4% 4% 0% 4%;
    
}