ion-content{
    
    --background: #1CB3E9  ;
}
.iconoItem{
    --background: linear-gradient(0deg, #1CB3E9  50%, white 50%);
}
 ion-item, item-list,item-row{
    --background: #1CB3E9  ;
    --color:white;
}
ion-icon{
    color:white;
}
ion-grid{
    background: white;
    padding-top: 10%;
    padding-bottom:10%;
}
ion-row{
    padding-left: 25%;
}
.textNombre{
    color:#1CB3E9 ;
    
    text-align: center;
}
ion-avatar{
    
    width: 30%;
    height: 70%;
    
    position: relative;
    left:30%;
    background: white;
    border:thick solid #1CB3E9 ;
}
.textCorreo{
    font-size: 10px;
}


//toolbar:
ion-toolbar img{
    width: 30%;
    height: 100%;
}
.avatarPrincipal{
    width: 40%;
    height: 100%;

}
.itemToolbar{
    --background: white;
}
.iconoback{
    color:#3dc2ff;
}