<ion-menu side="start" menuID="menu" contentId="principal" >
  <ion-header class="ion-no-border">
    <ion-toolbar >
      <ion-item lines="none" class="itemToolbar">
      <img src="../../../assets/images/AITANA4.png">
      <ion-icon name="arrow-back" slot="end" class="iconoback" (click)="quitarMenu()"></ion-icon></ion-item>
      
    </ion-toolbar>
  </ion-header>
  <ion-content  >
    <ion-grid>
      <ion-row>
        <ion-label class="textNombre">{{usuario.nombre}}</ion-label>
      </ion-row>
      <ion-row>
        <ion-label class="textCorreo">{{usuario.email}}</ion-label>
      </ion-row>
    </ion-grid>
    
    
    
    <ion-list >
        <ion-item class="iconoItem">
          <ion-avatar class="avatarPrincipal">
            <img src="../../../assets/images/men.jpg">
          </ion-avatar>
        </ion-item>
        
        
      
      <ion-item color="secondary" (click)="entrarOpciones(1)">
        <ion-icon name="person-outline"></ion-icon>
        <ion-label>Perfil de usuario</ion-label>
      </ion-item>
      <ion-item (click)="entrarOpciones(2)">
        <ion-icon name="wallet-outline" class="icono"></ion-icon>
        <ion-label>Tus tickets</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="calendar-outline"></ion-icon>
        <ion-label>Calendario</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="location-outline"></ion-icon>
        <ion-label>Citas</ion-label>
      </ion-item>
      <ion-item>
        <ion-col size="1"><ion-icon name="notifications-outline"></ion-icon></ion-col>
        <ion-col >
          <ion-label>Notificaciones</ion-label>
        </ion-col>
        <ion-col size="1"  style="background: red;color: white;border-radius: 5px;">
          {{usuario.notificaciones_push}}
        </ion-col>
      </ion-item>
      <ion-item>
        <ion-icon name="chatbox-ellipses-outline"></ion-icon>
        <ion-label>Chat</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="journal-outline"></ion-icon>
        <ion-label>Centro de conocimiento</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="chatbubbles-outline"></ion-icon>
        <ion-label>Preguntas frecuentes</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="call-outline"></ion-icon>
        <ion-label>Contacta con nosotros</ion-label>
      </ion-item>
      <ion-item (click)="entrarOpciones(3)">
        <ion-icon name="power-outline"></ion-icon>
        <ion-label>Cerrar Sesion </ion-label>
      </ion-item>
      

    </ion-list>
  </ion-content>
</ion-menu>