.contenedor-secundario{
    background-color: gold;
     height: 10%;
}

.texto-contenedorSecundario{
    margin-left: 15%; 
    margin-top: -8%; 
    color: white; 
    font-size: 19px;
}

ion-toolbar {
    --background: rgb(141,4,238);
    --background: linear-gradient(90deg, rgba(141,4,238,1) 16%, rgba(0,255,248,1) 91%) !important;
    padding-top: 10%;
    
}


.text-azul{
    color: #30cdff;
    margin-left: 4%;
}



ion-toolbar{
    height: 60px;
}

hr {
    border: 0;
    clear:both;
    display:block;
    width: 96%;               
    background-color: aqua;
    height: 2px;
    opacity: 20%;
  }


ion-avatar{
    width: 60%;
    height: 100%;
    margin-left: -3%;
}

ion-icon{
    margin-top: 5%; 
    color: white;
    font-size: 30px; 
    margin-left: 3%;
}

.text-gris{
    color: grey;
    font-size: 90%;
    margin-left: 3%;
}

.textArea{
    margin-left: 2%;
}


hr {
    border: 0;
    clear:both;
    display:block;
    width: 96%;               
    background-color: grey;
    height: 1px;
    opacity: 20%;
    
  }


.division-boton{
    border: 0;
    clear:both;
    display:block;
    width: 96%;               
    background-color: grey;
    height: 1px;
    opacity: 20%;
    margin-top: 50%;
}

.boton-enviar{
    margin-left: 15%;
    width: 70%;
}