
<app-barra-usuario></app-barra-usuario>


<ion-content>

  <app-header-secundario-aitana004 [titulo]="'REPORTAR ERROR'" [numIcono]="1"></app-header-secundario-aitana004>


  <p class="text-azul"><b>¿Algo no va bien?</b></p>

  <hr>

  <p class="text-gris">¿Has encontrado algún fallo en la aplicación?<br> ¿Quieres proponernos cambios o mejoras? Por <br> favor, déjanos  tus comentarios:</p>

  <hr>

  <p class="text-azul"><b>Reportar error/mejora</b></p>


  <textarea id="w3review" name="w3review" rows="6" cols="44" class="textArea" placeholder="Escribe aquí tu comentario ..."></textarea>


<hr class="division-boton">

  <ion-button class="boton-enviar">Enviar</ion-button>

  <app-footer></app-footer>

</ion-content>
