<app-barra-usuario></app-barra-usuario>

<ion-content>
  <app-header-secundario-aitana006 [titulo]="'SEGUIMIENTOS'" [ticket]="this.id" ></app-header-secundario-aitana006>
  
  
  <ion-row class="textEscribirComentario" style="margin-bottom: 3%;">
    <ion-col style="margin-top:4%;">
      <ion-label style="margin-left: 3%; ">Crear seguimiento/cierre</ion-label>
    </ion-col>
    <ion-col size="2" [routerLink]="['/aitana006k']"><ion-icon name="options" ></ion-icon></ion-col>
  </ion-row>
  <ion-row class="comentario" *ngFor="let seguimiento of seguimientos">
    <ion-row style="width: 100%;" class="cabeceraComentario" >
      <ion-col size="2" style="margin-top: 1%; "><ion-avatar style ="margin-left: 1%;"><img src="../../../assets/images/men.jpg"></ion-avatar></ion-col>
      <ion-col size="5" style="margin-top: 3%;"><ion-label >{{seguimiento.nick}}</ion-label></ion-col>
      <ion-col size="1" style="margin-top: 3%;"><ion-icon name="alert-circle"></ion-icon></ion-col>
      <ion-col size="4" style="margin-top: 3%;"><ion-label>{{seguimiento.fecha}}</ion-label></ion-col>
    </ion-row>
    <ion-row class="contenido">
      <ion-row>
        Titulo:<ion-label style="font-weight: 600;">{{seguimiento.titulo}}</ion-label>
      </ion-row>
      <ion-row>
        Descripcion:<ion-label style="font-weight: 600;">{{seguimiento.descripcion}}</ion-label>
      </ion-row>
      
    </ion-row>
  </ion-row>
  <ion-row class="comentario" *ngFor="let seguimiento of seguimientosTicket">
    <ion-row style="width: 100%;" class="cabeceraComentario" >
      <ion-col size="2" style="margin-top: 1%; "><ion-avatar style ="margin-left: 1%;"><img src="../../../assets/images/men.jpg"></ion-avatar></ion-col>
      <ion-col size="5" style="margin-top: 3%;"><ion-label >{{seguimiento.autor}}</ion-label></ion-col>
      <ion-col size="1" style="margin-top: 3%;"><ion-icon name="alert-circle"></ion-icon></ion-col>
      <ion-col size="4" style="margin-top: 3%;"><ion-label>{{seguimiento.fecha}}</ion-label></ion-col>
    </ion-row>
    <ion-row class="contenido">
      
        <div [innerHTML]="seguimiento.contenido" ></div>
      
      
    </ion-row>
    
  </ion-row>
  <ion-infinite-scroll threshold="150px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Cargando...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <!--
  <ion-row class="comentario">
    <ion-row style="width: 100%;" class="cabeceraComentario">
      <ion-col size="2" style="margin-top: 1%; "><ion-avatar style ="margin-left: 1%;"><img src="../../../assets/images/men.jpg"></ion-avatar></ion-col>
      <ion-col size="5" style="margin-top: 3%;"><ion-label >@carlosalonso</ion-label></ion-col>
      <ion-col size="1" style="margin-top: 3%;"><ion-icon name="alert-circle"></ion-icon></ion-col>
      <ion-col size="4" style="margin-top: 3%;"><ion-label>AYER 09:47</ion-label></ion-col>
    </ion-row>
    <ion-row class="contenido">
      <ion-row>
        Titulo:<ion-label style="font-weight: 600;">Reparación portatil ASUS</ion-label>
      </ion-row>
      <ion-row>
        Descripcion:<ion-label style="font-weight: 600;">Hace unos meses me ha empezado a aparecer unas rayas horizontales
        en la patalla cuando la muevo. Ahora me aprece inculo sin mover la pantalla</ion-label>
      </ion-row>
      
    </ion-row>
  </ion-row>
  <ion-row class="comentario">
    <ion-row style="width: 100%;" class="cabeceraComentario">
      <ion-col size="2" style="margin-top: 1%; "><ion-avatar style ="margin-left: 1%;"><img src="../../../assets/images/men.jpg"></ion-avatar></ion-col>
      <ion-col size="5" style="margin-top: 3%;"><ion-label >@carlosalonso</ion-label></ion-col>
      <ion-col size="1" style="margin-top: 3%;"><ion-icon name="alert-circle"></ion-icon></ion-col>
      <ion-col size="4" style="margin-top: 3%;"><ion-label>29/03/2021 09:47</ion-label></ion-col>
    </ion-row>
    <ion-row class="contenido">
      <ion-row>
        Titulo:<ion-label style="font-weight: 600;">Reparación portatil ASUS</ion-label>
      </ion-row>
      <ion-row>
        Descripcion:<ion-label style="font-weight: 600;">Hace unos meses me ha empezado a aparecer unas rayas horizontales
        en la patalla cuando la muevo. Ahora me aprece inculo sin mover la pantalla</ion-label>
      </ion-row>
      
    </ion-row>
  </ion-row>-->
  <br><br><br><br><br>
  <ion-row class="columnaBoton">
    <ion-button [routerLink]="['/aitana006e']">CREAR SEGUIMIENTO</ion-button>
  </ion-row>
  <app-footer></app-footer>
</ion-content>
