.headerSecondario{
    width: 100%;
}
.headerSecondario ion-col{
    position: relative;
    left: 30%;
    padding-top:3% ;
    padding-bottom: 1% ;
    
}
.tituloCitas{
    border-bottom: 1px solid grey;
    color:rgb(0, 183, 255);;
    
    font-weight: 600;
    width: 100%;
}
.textEscribirComentario{
    margin-top: 3%;
    
    padding-bottom: 4%;
    width: 100%;
    border-bottom: 1px solid rgba(128, 128, 128, 0.753);
    color: rgb(0, 132, 255);
}
.textEscribirComentario ion-icon{
    width: 40px;
    height: 40px;
}

.comentario{
    background: rgb(224, 221, 221);
    width: 94%;
    
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 3%;
}
.comentario ion-avatar{
    width: 30px;
    height: 30px;
}
.comentario ion-icon{
    color: gold;
    width: 20px;
    height: 20px;
}
.comentario .cabeceraComentario{
    width: 100%;
    color: rgb(0, 183, 255);;
    border-bottom: 1px solid grey;
}
.contenido{
    padding-left:3%;
    font-size: 12px;
    padding-bottom: 2%;
    padding-top: 2%;
}
.columnaBoton{
    border-top:1px solid grey ;
    background: white;
    position: fixed;
    width: 100%;
    top: 86%;
}
ion-button{
    width: 100%;
    margin-left: 7%;
    margin-right: 7%;
    background: rgb(22, 93, 224);
}