

<app-barra-usuario></app-barra-usuario>

<ion-content>


  <app-header-secundario-aitana004 [titulo]="'CONTRASEÑA'" [numIcono]="1"></app-header-secundario-aitana004>


  <div class="contenedor-secundario">
    <p style="font-size: small;">Cambia tu contraseña de acceso a la <br> a aplicación introducendo una nueva <br> contraseña y confirmándola.</p>
 </div>


 <ion-item color="transparent" lines="none" class="inputs">
  <ion-input  name="password" placeholder="Nueva contraseña" [type]="showPassword ? 'text' : 'password'"></ion-input>
  <ion-icon slot="end" [name]="iconoPassword" (click)="mostrarPassword()"></ion-icon>
</ion-item>

<ion-item color="transparent" lines="none" class="inputs">
  <ion-input   type="password" placeholder="Repetir contraseña"></ion-input>
</ion-item>

<br>

<ion-button color="primary" shape="round" expand="block" class="botonPrincipal" (click)="iniciarSesion(title)">CAMBIAR CONTRASEÑA</ion-button>


  <app-footer></app-footer>

</ion-content>
