.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    font-family: fantasy;
 }


 ion-toolbar {
    --background: rgb(141,4,238);
    --background: linear-gradient(90deg, rgba(141,4,238,1) 16%, rgba(0,255,248,1) 91%) !important;
    padding-top: 10%;
    
}

ion-toolbar{
    height: 60px;
}

.icono{
    
    color:white;
    
}



.imagenPais{
    width: 32px;
    height: 32px;
}

.usuarioText{
    font-weight: 600;
    font-size: 12px;
}

ion-avatar{
    width: 30%;
    height: 100%;
}

.usuario{
    padding-left: 20%;
    color: white;
    
    
}

.contenedor-secundario {
    border-radius: 10px;
    background: gold;
    padding: 10px;
    height: 130px;
    width: 85%;
    margin: 0 auto;
    margin-top: 5%;
  }

  .inputs{
      border: 0.5px solid  grey ;
    margin-top: 8%;
    border-bottom: thick solid rgb(65, 186, 238);
    width: 90%;
    background-color: white;
    margin-left: 20px;
    opacity: 60%;
    
}

.icon-menu{
    margin-left: 3%;
    color: white;
    font-size: 40px;
    
    
    
}

.botonPrincipal{
    padding-left: 10%;
    width: 90%;
    
}


.vertical-line{
    border-left: 2px solid grey;
    height: 500px;
    position: absolute;
    left: 50%;
    margin-left: -120px;
    top: 0;
    margin-top: -105%;
    width: 5%;
}

.image{
    margin-left: 40%;
    margin-top: -12%;
    
    
    
}