
<ion-header>
<ion-toolbar >
  <ion-buttons> 
    <ion-button color="transparent" slot="start" (click)="abrirMenu()">
      <ion-icon name="reorder-three" class="icono"></ion-icon>
    </ion-button>
    <ion-button slot="secondary" class="usuario">
      
        <ion-avatar>
          <img src="../../../assets/images/men.jpg">
        </ion-avatar>
      
      
      <ion-label class="usuarioText">{{usuario.nombre}}</ion-label>
      <ion-icon name="caret-down" slot="end"></ion-icon>
    </ion-button>
    <ion-button class="lenguaje">
      <img src="https://hotemoji.com/images/dl/1/flag-of-spain-emoji-by-google.png" class="imagenPais">
      <ion-label class="text-Spain">ES</ion-label>
    </ion-button>
</ion-buttons>

</ion-toolbar>
</ion-header>