ion-toolbar {
    --background: rgb(141,4,238);
    --background: linear-gradient(90deg, rgba(141,4,238,1) 16%, rgba(0,255,248,1) 91%) !important;
    padding-top: 10%;
    
}

.tickets{
    width: 100%;
    height: 25%;
    
}
.icono{
    
    color:white;
}
.textTickets{
 color: white;
 font-weight: 600;
 font-size: 12px;;
 
}

ion-buttons{
    --width: 100%;
}
ion-buttons .lenguaje{
    position: relative;
    left: 10%;
}
.imagenPais{
    width: 32px;
    height: 32px;
}
ion-tabs{
    
    padding-top: 13.4%;
    

}
.icono-toolbar{
    font-size: 30px;
}
.usuario{
    padding-left: 20%;
    color: white;
    
    
}
.usuarioText{
    font-weight: 600;
    font-size: 12px;
}
ion-tab-bar{
    
    height: 7%;
}
ion-avatar{
    width: 30px;
    height: 30px;
}

.text-Spain{
    color: white;
}