.headerSecondario{
    width: 100%;
}
.headerSecondario ion-col{
    position: relative;
    left: 30%;
    padding-top:3% ;
    padding-bottom: 3% ;
    
}
.tiCITA{
    background: rgb(11, 207, 93);
    width: 100%;
    color:white;
    text-align: center;
    padding-top:4% ;
    padding-bottom: 4% ;
    
}
.tiCITA ion-label{
    position: relative;
    left: 35%;
    right: 35%;
}
.autor{
    color: rgb(0, 183, 255);
    font-weight: 600;
    font-size: 15px;
    padding-left:1% ;
}
.lugar{
    text-align: center;
    font-size: 12px;
    color: grey;
    padding-left:1% ;
    
}
.columnaBotones{
    flex: 0 0 70px;
    
}
.columnaBotones ion-icon{
    border-radius: 50%;
    background:black;
    color: white;
    padding: 5px;
    height: 30px;
    width: 30px;
   
}
.infoEquipo{
    border-top: rgba(128, 128, 128, 0.363) 1px solid;
}
.seccionInformacion{
    text-align: center;
}
.tituloInformacion{
    text-align: center;
    
    color: black;
    font-weight: 600;
    font-size: 13px;

}
.tituloInformacion {
    width: 100%;
    text-align: center;
}
.informacion{
    text-align: center;
    font-size: 12px;
    
    color: grey;
    width: 100%;
    
}
.informacion ion-label{
    width: 100%;
    text-align: center;
}

.iconoMasDescripcion{
    color: rgb(0, 183, 255);;
    position: relative;
    left: 90%;
    bottom: 3%;
    
}
.iconoMenosDescripcion{
    color: rgb(0, 183, 255);;
    position: relative;
    left: 90%;
    bottom: 3%;
}    
.textoBotones{
    
    font-size: 11px;
    color: rgb(0, 183, 255);
    text-align: center;
}
.textoBotones ion-row{
    width: 100%;
}
.iconPosition{
    display:block;
    margin:auto;
}
.textoBotones ion-icon{
    border-radius: 50%;
    background:rgb(0, 183, 255);
    color: white;
    padding: 10px;
    height: 35px;
    width: 35px;
    margin-bottom: 3px;
    
    

}


.textoBotones .texto{
    
}
.texto ion-label{
    width: 100%;
    text-align: center;

}
.tituloEtiqueta{
    
    color: rgb(0, 183, 255);
    font-weight: 600;
    font-size: 17px;
    
    
}
.tituloEtiqueta ion-label{
    width: 100%;
    text-align: center;
    padding-left: 2%;
    padding-right: 2%;
}
.conocimiento{
    width: 100%;
    color: rgb(0, 183, 255);;
}
.conocimiento ion-icon{
    color: rgb(0, 183, 255);;
    font-weight: 600;
}
ion-alert{
    color: blue;
}

