
<app-barra-usuario></app-barra-usuario>

<ion-content>
  <app-header-secundario-aitana006 [titulo]="'DATOS DEL TICKET'" [ticket]="ticket.id" [opcionVuelta]="0"></app-header-secundario-aitana006>
  
  <ion-row class="tiCITA">
    <ion-label>{{ticket.estado}}</ion-label>
  </ion-row>
 
    <ion-label class="autor">{{ticket.cliente}}</ion-label>
    <ion-row>
      <ion-col class="lugar">
        <ion-row class="lugar"><ion-label>{{ticket.direccion}}</ion-label></ion-row>
       <!-- <ion-row class="lugar"><ion-label>41009 (SEVILLA)</ion-label></ion-row> -->
      </ion-col>
      <ion-col class="columnaBotones"><ion-icon name="location" (click)='botonUbicaciones(1)'></ion-icon></ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-row class="lugar"><ion-label>Teléfono:{{ticket.telefono}}</ion-label></ion-row>
        <ion-row class="lugar"><ion-label>Movil:{{ticket.movil}}</ion-label></ion-row>
      </ion-col>
      <ion-col class="columnaBotones"><ion-icon name="call" (click)="botonUbicaciones(2)"></ion-icon></ion-col>
    </ion-row>
    <ion-row>
      <ion-col><ion-row class="lugar"><ion-label>Latitud:{{ticket.latitud}}</ion-label></ion-row>
        <ion-row class="lugar"><ion-label>Longitud:{{ticket.longitud}}</ion-label></ion-row></ion-col>
      <ion-col class="columnaBotones"><ion-icon name="map"  [routerLink]="['/aitana006d',ticket.latitud,ticket.longitud,ticket.id]"></ion-icon></ion-col>
    </ion-row>
    <ion-row class="infoEquipo" >
      <ion-col class="seccionInformacion">
        <ion-row class="tituloInformacion"><ion-label>MARCA</ion-label></ion-row>
        <ion-row class="informacion"><ion-label>{{ticket.marcaProducto}}</ion-label></ion-row>
      </ion-col>
      <ion-col class="seccionInformacion">
        <ion-row class="tituloInformacion"><ion-label>MODELO</ion-label></ion-row>
        <ion-row class="informacion"><ion-label>{{ticket.modeloProducto}}</ion-label></ion-row>
      </ion-col>
      <ion-col class="seccionInformacion">
        <ion-row class="tituloInformacion"><ion-label>S/N</ion-label></ion-row>
        <ion-row class="informacion"><ion-label>{{ticket.idProducto}}</ion-label></ion-row>
      </ion-col>
    </ion-row>
    <!-- Especificaciones tecnicas-->
    <ion-row class="tituloEtiqueta"><ion-label>{{ticket.titulo}}</ion-label></ion-row>
    <ion-row>
      
      <ion-row  (click)="mostrarDescripcionDetallada()" style="width: 100%;">
        <ion-label class="tituloInformacion">DESCRIPCION DEL FALLO</ion-label>
        <ion-label class="informacion" [innerHTML]="ticket.descripcionCorta" *ngIf="esDescripcionCorta"></ion-label>
        
        <ion-label class="informacion" [innerHTML]="ticket.descripcionLarga" *ngIf="!esDescripcionCorta"></ion-label>
        
      </ion-row>
    </ion-row>
    <ion-row >
      <ion-icon name="caret-down" class="iconoMasDescripcion" *ngIf="esDescripcionCorta" ></ion-icon>
      <ion-icon name="caret-up" class="iconoMenosDescripcion" *ngIf="!esDescripcionCorta" ></ion-icon>
    </ion-row>
    <ion-row class="textoBotones">
      <ion-col [routerLink]="['/aitana006e',ticket.id]" >
        <ion-row class="iconPosition"><ion-icon name="calendar"></ion-icon></ion-row>
        <ion-row class="texto"><ion-label>CITAS</ion-label></ion-row>
      </ion-col>
      <ion-col [routerLink]="['/aitana006j',ticket.id]">
        <ion-row class="iconPosition"><ion-icon name="analytics"></ion-icon></ion-row>
        <ion-row class="texto" ><ion-label>SEGUIMIENTO</ion-label></ion-row>
      </ion-col>
      <ion-col [routerLink]="['/aitana006l',ticket.id]">
        <ion-row class="iconPosition"><ion-icon name="build"></ion-icon></ion-row>
        <ion-row class="texto"><ion-label>PIEZAS</ion-label></ion-row>
      </ion-col>
      <ion-col [routerLink]="['/aitana006p']">
        <ion-row class="iconPosition"><ion-icon name="document-text"></ion-icon></ion-row>
        <ion-row class="texto" class="textGrandes">DOCUMENTOS</ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-list style="width: 100%;">
        <ion-item class="conocimiento" [routerLink]="['/aitana006r']">
          <ion-label>Centro de conocimiento</ion-label>
          <ion-icon name="chevron-forward" slot="end"></ion-icon>
        </ion-item>
      </ion-list>
      
      
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button color="secondary">
          <ion-label>REASIGNAR</ion-label>
          <ion-icon name="people" slot="end"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="secondary">
          <ion-label>CERRAR TICKET</ion-label>
          <ion-icon name="log-in-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  
  <br>
  <br>
  <app-footer></app-footer>
</ion-content>
