
<app-barra-usuario></app-barra-usuario>

<ion-content>
  <app-header-secundario-aitana006 [titulo]="'DIRECCIÓN DE TRABAJO'" [ticket]="idTicket" ></app-header-secundario-aitana006>
  
  <iframe [src]="url | safe" width="100%" height="70%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  <ion-row class="bocadillo">
    <ion-label>CONTACTA CON EL CLIENTE</ion-label>
    
  </ion-row>
  
  <ion-row style="background:grey;">
    <div class="triangulo"></div>
    <ion-col size="4">
      <ion-row ><ion-label class="logo">Ai</ion-label></ion-row>
      <ion-row class="textPrincipal">Alicia Fuentes</ion-row>
      </ion-col>
    <ion-col style="color:white" >
      <ion-row class="textPrincipal">Avd.Sacnhez Píjuan,9 10-2</ion-row>
      <ion-row>41009-SEVILLA</ion-row>
      <ion-row class="posicionIconoLlamada"><ion-icon name="call" class="iconoLlamada"></ion-icon></ion-row>
    </ion-col>
  </ion-row>
  <br><br><br>
  <app-footer></app-footer>
</ion-content>
