.headerSecondario{
    width: 100%;
}
.headerSecondario ion-col{
    position: relative;
    left: 30%;
    padding-top:3% ;
    padding-bottom: 1% ;
    
}
.columnaInformacion{
    margin-top: 3%;
    
}

.infoPrincipalTicket{
    color: rgb(127, 214, 255);
    font-weight: 600;
}
.fecha{
    font-size: 11px;
    color: grey;
}
.iconoPrincipales{
    width: 25px;
    height: 25px;
    color:rgb(127, 214, 255);
}

.columnaBoton{
    border-top:1px solid grey ;
    position: fixed;
    width: 100%;
    top: 86%;
}
ion-button{
    width: 100%;
    margin-left: 7%;
    margin-right: 7%;
    background: rgb(22, 93, 224);
}