<app-barra-usuario></app-barra-usuario>

<ion-content>
  <app-header-secundario-aitana006 [titulo]="'PÌEZAS'" [ticket]="this.id"></app-header-secundario-aitana006>
  
  
  <ion-list>
  <ion-item class="columnaInformacion"  *ngFor="let diagnosis of diagnosisTickets; let i = index">
    <ion-col class="infoPrincipalTicket">
      <ion-row><ion-label>PIN: {{diagnosis.pin}}</ion-label></ion-row>
      <ion-row>
        <ion-col size="1"><ion-icon name="pulse"></ion-icon></ion-col>
        <ion-col><ion-label class="fecha">{{diagnosis.fecha}}</ion-label></ion-col>
      </ion-row>
    </ion-col>
    <ion-col size="1" [routerLink]="['/aitana006m',i,id]"> <ion-icon name="create" class="iconoPrincipales" ></ion-icon></ion-col>
    <ion-col size="1" [routerLink]="['/aitana006n']"><ion-icon name="build" class="iconoPrincipales" ></ion-icon></ion-col>
  </ion-item>
</ion-list>
<br>
<br>
<br>
<br>
<br>
<ion-row class="columnaBoton">
  <ion-button [routerLink]="['/aitana006o']">CREAR SEGUIMIENTO</ion-button>
</ion-row>
  <app-footer></app-footer>
</ion-content>
