<app-barra-usuario></app-barra-usuario>

<ion-content>
  <app-header-secundario-aitana006 [titulo]="'CITAS DE ESTE TICKET'" [ticket]="this.id"></app-header-secundario-aitana006>
  
  <ion-row class="tituloCitas">
    <ion-label>Todas las citas</ion-label>
  </ion-row>
  <ion-row class="cuerpoCita" *ngFor="let cita of citasTickets; let i = index">
    <ion-row  class="tituloCuerpo">
      <ion-col size="9" >
        <ion-label>{{cita.fecha}}</ion-label>
      </ion-col>
      <ion-col>
        <ion-icon name="return-down-back" [routerLink]="['/aitana006f',id,i]"></ion-icon>
      <ion-icon name="calendar" [routerLink]="['/aitana006g']"></ion-icon>
      <ion-icon name="chatbubbles" [routerLink]="['/aitana006h']"></ion-icon>
      </ion-col>
      
      
    </ion-row>
    <ion-row class="titulo">{{ticket.cliente}}</ion-row>
    <ion-row>
      
      <ion-col size="1"><ion-icon name="compass-outline"></ion-icon></ion-col>
      <ion-col>
        <ion-row>{{ticket.direccion}}</ion-row>
       <!-- <ion-row>41009 (SEVILLA)</ion-row>-->
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-buttons>
        <ion-button  class="botonNaranja">EN RUTA</ion-button>
        <ion-button shape="round" class="botonMorado">CHECK IN</ion-button>
        <ion-button shape="round" class="botonNegro">CHECK OUT</ion-button>
      </ion-buttons>
    </ion-row>
  </ion-row>


<!-- PRUEBA 
  <ion-row class="cuerpoCita" >
    <ion-row  class="tituloCuerpo">
      <ion-col size="9" >
        <ion-label>Fecha</ion-label>
      </ion-col>
      <ion-col >
        <ion-icon name="return-down-back" [routerLink]="['/aitana006f']"></ion-icon>
      <ion-icon name="calendar" [routerLink]="['/aitana006g']"></ion-icon>
      <ion-icon name="chatbubbles" [routerLink]="['/aitana006h']"></ion-icon>
      </ion-col>
      
      
    </ion-row>
    <ion-row class="titulo">TITULO</ion-row>
    <ion-row>
      
      <ion-col size="1"><ion-icon name="compass-outline"></ion-icon></ion-col>
      <ion-col>
        <ion-row>DIRERECION</ion-row>
       
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-buttons>
        <ion-button  class="botonNaranja">EN RUTA</ion-button>
        <ion-button shape="round" class="botonMorado">CHECK IN</ion-button>
        <ion-button shape="round" class="botonNegro">CHECK OUT</ion-button>
      </ion-buttons>
    </ion-row>
  </ion-row>
  -->
  <ion-row class="columnaCrearCita">
    <ion-button color="secondary" (click)="aitana006i()">CREAR CITA</ion-button>
  </ion-row>
  <app-footer></app-footer>
</ion-content>
