.headerSecondario{
    width: 100%;
}
.headerSecondario ion-col{
    position: relative;
    left: 30%;
    padding-top:3% ;
    padding-bottom: 3% ;
    
}
.tituloCitas{
    border-bottom: 1px solid grey;
    color:rgb(0, 183, 255);;
    font-weight: 600;
    width: 100%;
}
.cuerpoCita{
    margin-top: 3%;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 10px;
    border: 1px solid grey;
    
   
}
.cuerpoCita .titulo{
    position: relative;
    top: 30%;
    color: rgb(0, 183, 255);;
}
.cuerpoCita .tituloCuerpo{
    width: 100%;
    margin-left: 1%;
    margin-right: 1%;
    border-bottom: 1px solid rgba(128, 128, 128, 0.527);
    color: rgb(0, 183, 255);;
}
.cuerpoCita .botonMorado{
    border: 1px solid purple;
    color: purple;
    border-radius: 5px;
    margin-left: 3%;
    margin-bottom: 2%;
}
.cuerpoCita .botonNaranja{
    border: 1px solid orange;
    color: orange;
    border-radius: 5px;
    margin-bottom: 2%;
}
.cuerpoCita .botonNegro{
    border: 1px solid black;
    color: black;
    border-radius: 5px;
    margin-bottom: 2%;
}

.columnaCrearCita{
    border-top: 1px solid gray;
    width: 100%;
    position: fixed;
    top: 85%;
}
.columnaCrearCita ion-button{
    margin-left: 3%;
    margin-right: 3%;
    width: 100%;
}
.tituloCuerpo ion-icon{
    font-size: 20px;
}