<app-barra-usuario></app-barra-usuario>

<ion-content>
  <app-header-secundario-aitana006 [titulo]="'AÑADIR DIAGNOSIS'" [ticket]="this.ticketId" [opcionVuelta]="4"></app-header-secundario-aitana006>
  <ion-row class="tituloInput" id="id"> PROBLEMA</ion-row>
  <ion-row>
    <ion-item>
      <ion-select placeholder="Seleccione una opcion" #opcion>
       
      </ion-select>
    </ion-item>
  </ion-row>
  <ion-row class="tituloInput">
    <ion-col ><ion-label>PN</ion-label></ion-col>
    <ion-col size="1"> <ion-icon name="barcode-outline" class="iconoBarra"></ion-icon></ion-col>
  </ion-row>
  <ion-row>
    <ion-input placeholder="Indique el pin de la pieza" #pin></ion-input>
  </ion-row>
  <ion-row class="tituloInput">
    CANTIDAD
  </ion-row>
  <ion-row>
    <ion-input value="1" #cantidad></ion-input>
  </ion-row>
  <ion-row class="tituloInput">DESCRIPCIÓN</ion-row>
  <ion-row><ion-input placeholder="Especifica la descripción aquí..." #descripcion></ion-input></ion-row>
  <ion-row class="tituloInput">DESCRIPCIÓN</ion-row>
  <ion-row><ion-input placeholder="Indique el almacen" #almacen></ion-input></ion-row>
  <ion-row class="columnaCrearDiagnosis">
    <ion-button color="secondary" (click)="crearDiagnosis(opcion,pin,cantidad,descripcion,almacen)" >CREAR DIAGNOSIS</ion-button>
  </ion-row>
  <app-footer></app-footer>
</ion-content>