<ion-content>

  <ion-row>
    <img src="../../assets/images/aitana-title.png">
  </ion-row>

  <ion-text>
    <h3 style="color: white; margin-left: 5%;">Bienvenido</h3>
  </ion-text>

  <ion-text>
    <h2 style="color: white; margin-left: 5%; font-size: 40px; margin-top: -2%;">{{usuario.nombre}}</h2>
  </ion-text>

  <ion-text>
    <p style="color: white; margin-left: 6%; margin-top: -3% ;">Necesitamos que te identifiques</p>
  </ion-text>


  <ion-item color="transparent" lines="none" class="inputs">
    <ion-input name="password" placeholder="Introduce su contraseña" [type]="showPassword ? 'text' : 'password'" #pass></ion-input>
    <ion-icon slot="end" [name]="iconoPassword" (click)="mostrarPassword()"></ion-icon>
  </ion-item>

  <br>

  <ion-text>
    <p style="color: white; float: right; margin-top: -3% ; margin-right: 3%; font-size: small;"><i>¿Olvidaste tu constaseña?</i></p>
  </ion-text>


  <div style="text-align: center; position: relative; margin-top: 70%; float: center;" (click)="iniciarSesion(pass)">
    <ion-icon class="huella" name="finger-print-outline"></ion-icon>
    <p style="color: white;">Usar huella</p>
    <ion-icon name="close-outline" class="icon-cerrar"></ion-icon>
  </div>


</ion-content>
