.titulo{
    margin-top: 10%;
    text-align: center;
    font-family: fantasy;
    color: white;
    font-size: 85px;
}

ion-content {
    --background: linear-gradient(#810cee, #4da5f7);
}


.inputs{
    margin-top: 8%;
    border-bottom: thick solid rgb(255, 208, 0);
    width: 90%;
    background-color: white;
    margin-left: 20px;
    
}

.huella{
    color: white;
   font-size: 60px;
}

.icon-cerrar{
    color: white;
   font-size: 30px;
}
