<ion-header>
  
</ion-header>

<ion-content>
  <ion-row>
    <img src="../../assets/images/aitana-title.png">
  </ion-row>
  <ion-row><ion-label class="bienvenido">Bienvenido</ion-label></ion-row>
  <ion-row><ion-label #nombre class="usuario">{{ usuario.nombre}}</ion-label></ion-row>
  <ion-row><ion-label class="textDescripcion" >Necesitamsos que te identifiques</ion-label></ion-row>
  <ion-row>
    <div >
      <ion-icon name="finger-print-outline"   class="iconohuella" ></ion-icon>
      <p>Usar huella</p>
      
    </div>
  </ion-row>
    
  
  <ion-row>
    <ion-icon name="close-sharp" class="iconoCerrar"></ion-icon>
  </ion-row>
</ion-content>
