.bienvenido{
    color:white;
    font-size: 20px;
    padding-left: 4%;
    padding-top: 10%;
}
.textDescripcion{
    font-size: 12px;
    padding: 3%4%;
    color: white;
}
.usuario{
    color:white;
    font-size: 30px;
    padding-left: 4%;
    
}
div {
    display: flex;
    
    flex-flow: column nowrap;
    align-items: center;
    padding: 70%  37% 0% 37%;
    color:white;
    
  }

.iconohuella{
    font-size: 60px;
    color:white;
}
.iconoCerrar{
    color: white;
   padding-left: 45%;
   font-size: 20px;
}