
  
<app-barra-usuario  ></app-barra-usuario>

<ion-content>
  <app-header-secundario-aitana004 [titulo]="'EDITAR PERFIL'" [numIcono]="1"></app-header-secundario-aitana004>
  <ion-list>
    <ion-item lines="none">
      <ion-card >
        <ion-input placeholder="DNI"></ion-input>  
      </ion-card>
      <ion-label class="tituloCarta"  ></ion-label>
    </ion-item>
    
    <ion-item lines="none">
      
      <ion-card >
      <ion-input placeholder="Nombre"  value="{{ usuario.nombre}}" #nombre></ion-input>  
      </ion-card>
      <ion-label class="tituloCarta"  >Nombre</ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-card >
      <ion-input placeholder="Apellidos"  value="{{usuario.apellido}}" #apellidos></ion-input>  
      </ion-card>
      <ion-label class="tituloCarta">Apellido</ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-card >
        <ion-input placeholder="Dirección" value="{{usuario.email}}" style="color:rgb(56, 157, 224); font-weight: 600;"></ion-input>  
      </ion-card>
      <ion-label class="tituloCarta"  ></ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-card >
        <ion-item >
          <ion-input placeholder="Provincia" type="search"></ion-input>  
        <ion-icon name="caret-down" class="opciones" slot="end"></ion-icon>
        </ion-item> 

      </ion-card>
    </ion-item>
    <ion-item lines="none" >
      <ion-card >
        <ion-item  class="opcionesCarta">
          <ion-input placeholder="Localidad" type="search" ></ion-input>  
        <ion-icon name="caret-down" class="opciones" slot="end"></ion-icon>
        </ion-item>
        
      </ion-card>
    </ion-item>
    <ion-item lines="none">
      <ion-card >
        <ion-input placeholder="Codigo postal"></ion-input>  
      </ion-card>
      <ion-label class="tituloCarta"  ></ion-label>
    </ion-item>
  </ion-list>
  
    <ion-button color="secondary" (click)="guardarCambiosUsuario(nombre,apellidos)">
      <ion-label>GUARDAR CAMBIOS</ion-label>
    </ion-button>
  <app-footer></app-footer>
</ion-content>
