.icono{
    
    color:white;
}
.tickets{
    width: 100%;
    height: 25%;
    
}
.textTickets{
 color: white;
 font-weight: 600;
 font-size: 12px;;
 
}
.tituloCarta{
    background-color: white;
    position: absolute;
    top: -13%;
    left: 6%;
    font-size: 10px;
}
ion-card{
    border: 0.5px solid  rgba(128, 128, 128, 0.541) ;
    width: 100%;
    
}

ion-list{
    border-bottom: 0.5px solid  grey ;
    
}
ion-button{
    position: relative;
    width:80% ;
    left: 10%;
}
ion-item{
    color:gray;
    font-size: 15px;
}
//Cartas mas especificas
.opciones{
    height: 100%;
    font-size: 17px;
    border-left: 0.5px solid  rgba(128, 128, 128, 0.486) ;
}
.opcionesCarta{
    height: 5%;
    
}
