<app-barra-usuario></app-barra-usuario>

<ion-content>
  <app-header-secundario-aitana004 [titulo]="'MI FACTURACIÓN'" [numIcono]="1"></app-header-secundario-aitana004>
  <ion-buttons >
    <ion-button  class="facturacionNoSeleccionada" expand="full" [routerLink]="['/aitana004g']">
      <ion-label>Autorizado</ion-label>
    </ion-button>
    <ion-button   class="facturacionNoSeleccionada" expand="full" [routerLink]="['/aitana004h']">
      <ion-label>Pendiente</ion-label>
    </ion-button>
    <ion-button class="facturacionSeleccionada" expand="full" >
      <ion-label >Pedidos</ion-label>
    </ion-button>
    
  </ion-buttons>
  <list-item>
    <ion-item lines="none" class="archivo">
      <ion-icon name="download-outline" slot="end"></ion-icon>
      <ion-label>P2020/2295</ion-label>
    </ion-item>
  </list-item>
  <app-footer></app-footer>
</ion-content>
