  
<app-barra-usuario></app-barra-usuario>

<ion-content>
  <app-header-secundario-tickets></app-header-secundario-tickets>
  <ion-buttons color="secondary" class="tabsButtons">
    <ion-button class="seleccionado"><ion-icon name="pricetags" size="small" ></ion-icon></ion-button>
    <ion-button><ion-icon name="people" size="small"></ion-icon></ion-button>
    <ion-button><ion-icon name="file-tray-stacked" size="small"></ion-icon></ion-button>
    <ion-button><ion-icon name="clipboard" size="small"></ion-icon></ion-button>
    <ion-button><ion-icon name="hammer" size="small"></ion-icon></ion-button>
    <ion-button [routerLink]="['/filtrado-ticket','aitana005d']"><ion-icon name="search" size="small" ></ion-icon></ion-button>
  </ion-buttons>
  <ion-row style="padding-top: 3%;">
    <ion-label >{{cantTicket}} tickets autori</ion-label>
  </ion-row>
  
  <ion-buttons >
    <ion-button  class="ticketDiarios" expand="full"  (click)="rutaTicket(2)"#boton1>
      <ion-label>TODOS</ion-label>
    </ion-button>
    <ion-button   class="ticketDiarios" expand="full"  (click)="rutaTicket(1)" #boton2>
      <ion-label>HOY</ion-label>
    </ion-button>
    <ion-button class="ticketSeleccionado" expand="full" #boton3>
      <ion-label >MAÑANA</ion-label>
    </ion-button>
    <ion-button class="ticketDiarios" #boton4>
      <ion-label >+1 DÍA</ion-label>
    </ion-button>
  </ion-buttons>
  <ion-list>
    <div class="contenidoTickets" *ngFor="let ticket of tickets">
      <ion-row class="tituloAceptada" *ngIf="ticket.estado=='Aceptada'">
        <ion-label >{{ticket.estado}}</ion-label>
      </ion-row>
      <ion-row  class="tituloCheckIN" *ngIf="ticket.estado=='CheckIn'">
        <ion-label >{{ticket.estado}}</ion-label>
      </ion-row>
      <ion-row  class="tituloPendienteAceptar" *ngIf="ticket.estado=='Pendiente'">
        <ion-label >{{ticket.estado}}</ion-label>
      </ion-row>
      
      <ion-row class="informacion">
        <ion-col class="fechasPuestas" width-X='10px'>
          <ion-row><ion-label class="fecha">{{ticket.momento}}</ion-label></ion-row>
          
          <ion-label>{{ticket.tiempo}}</ion-label>
          <ion-row>
            <ion-icon name="call" *ngIf="ticket.telefono!=''" (click)="llamarContacto(ticket.telefono)"></ion-icon>
          </ion-row>
          
          
        </ion-col>
        <ion-col>
          <ion-row><ion-label class="realizar">{{ticket.titulo}}</ion-label></ion-row>
          <ion-row><ion-label class="informacionMenor">{{ticket.id}}</ion-label></ion-row>
          <ion-row class="columnaDireccion">
              <ion-icon name="paper-plane-outline" ></ion-icon>
              <ion-label class="informacionMenor">{{ticket.direccion}}</ion-label>   
          </ion-row>
          
        </ion-col>
      </ion-row>
      
    </div>
  </ion-list>
  <ion-infinite-scroll threshold="150px" (ionInfinite)="loadData($event)" *ngIf="cargarMas">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Cargando...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <app-footer></app-footer>
</ion-content>