ion-toolbar {
    --background: rgb(141,4,238);
    --background: linear-gradient(90deg, rgba(141,4,238,1) 16%, rgba(0,255,248,1) 91%) !important;
    padding-top: 10%;
    
}

.tickets{
    width: 100%;
    height: 25%;
    
}
.icono{
    
    color:white;
}
.textTickets{
 color: white;
 font-weight: 600;
 font-size: 12px;;
 
}



.imagenPais{
    width: 32px;
    height: 32px;
}
ion-tabs{
    
    padding-top: 13.4%;
    

}
.icono-toolbar{
    font-size: 30px;
}
.usuario{
    padding-left: 20%;
    color: white;
    
    
}
.usuarioText{
    font-weight: 600;
    font-size: 12px;
}
ion-tab-bar{
    
    height: 7%;
}
ion-avatar{
    width: 90%;
    height: 90%;
}
//toolbar
ion-buttons{
    width: 100%;
}
.tabsButtons{
    height: 7%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-collapse: collapse;
    background: rgb(80,200,255);
}
.tabsButtons ion-button{
    width: 100%;
    height: 100%;
    
}
.tabsButtons .seleccionado{
    color: white;
    height: 120%;
    border-bottom: 3px solid white;
}
.tabsButtons .seleccionado ion-icon{
    color: white;
}
.tabsButtons ion-button ion-icon{
    color:  rgb(219, 217, 217);
}
.ticketDiarios{
    --background: rgb(161, 161, 161);
    width:100%;
    margin: 0 0 0 0;

}
.ticketSeleccionado{
    --background: rgb(80,200,255);
    width:100%;
    color:white;
    margin: 0 0 0 0;
}

//Con tenido tickets
.contenidoTickets{
    
    position: relative;
    left: 3%;
    top: 4%;
    padding-bottom: 3%;
    

}
.contenidoTickets .tituloPendienteAceptar{
    padding-left: 3%;
    padding-top: 2% ;
    padding-bottom: 2% ;
    background-color: rgb(80,200,255);
    border-top-right-radius:10px ;
    border-top-left-radius:10px ;
    color:white;
    border: gray 1px solid;
    width: 90%;
}
.contenidoTickets .tituloAceptada{
    padding-left: 3%;
    padding-top: 2% ;
    padding-bottom: 2% ;
    background-color: rgb(61, 179, 6);
    border-top-right-radius:10px ;
    border-top-left-radius:10px ;
    color:white;
    border: gray 1px solid;
    width: 90%;
}
.contenidoTickets .tituloCheckIN{
    padding-left: 3%;
    padding-top: 2% ;
    padding-bottom: 2% ;
    background-color: rgb(103, 4, 161);
    border-top-right-radius:10px ;
    border-top-left-radius:10px ;
    color:white;
    border: gray 1px solid;
    width: 90%;
}
.contenidoTickets .titulo ion-label{
    padding-left: 4%;
    
}

.contenidoTickets .informacion{
    
    border-bottom-right-radius:20px ;
    border-bottom-left-radius: 20px;
    
    border: gray 1px solid;
    width: 90%;
}
.contenidoTickets .informacion ion-icon{
    background:black ;
    border-radius: 50%;
    color: white;
    padding: 10%;
    width: 20px;
    height: 20px;
    margin-left: 13%;
}
.contenidoTickets .informacion .fecha{
    font-size: 9px;
    padding-left: 13%;
}
.contenidoTickets .informacion .informacionMenor{
    font-size: 12px;
    
}
.contenidoTickets .informacion .realizar{
    color: aquamarine;
    font-weight: 600;
}
.columnaDireccion{
    display: block;
}
.contenidoTickets .informacion .columnaDireccion ion-icon {
    color:black;
    background-color: white;
    margin-left: 0%;
    width: 20px;
    height: 20px;
    padding: 0%;
}
.contenidoTickets .informacion .textContactoYUbicacion{
    font-size: 11px;
}
.fechasPuestas{
    flex: 0 0 70px;
    text-align: center;
    
}
