

<ion-content>
  <ion-buttons>
    <ion-button slot="start" [routerLink]="['/aitana006e']"><ion-icon name="close-outline"></ion-icon></ion-button>
    <ion-button  slot="end" class="boton">Guardar</ion-button>
  </ion-buttons>
  <ion-row>
    <ion-label class="textTicket">Ticket {{ticketObtenido.id}} /Adv. Sánchez Pizjuan, 9 -41009(SEVILLA)</ion-label>
    
  </ion-row>
  <ion-row class="columnaEvento">
    <ion-col size="1"><ion-icon name="calendar-clear-outline"></ion-icon></ion-col>
    <ion-col>
      <ion-row>Eventos</ion-row>
      <ion-row class="email">{{ticketObtenido.correo}}</ion-row>
    </ion-col>
  </ion-row>
  <ion-row style="padding-left: 3%; padding-top:2%;">
    <ion-col size="1"><ion-icon name="time-outline"></ion-icon></ion-col>
    <ion-col size="8"><ion-label>Todo el día</ion-label></ion-col>
    <ion-col ><ion-toggle></ion-toggle></ion-col>
  </ion-row>
  <ion-row style="padding-left: 11%;">
    <ion-col><ion-label>{{ticketObtenido.fecha}}</ion-label></ion-col>
    <ion-col><ion-label>{{ticketObtenido.hora}}</ion-label></ion-col>
  </ion-row>
  <ion-row style="padding-left: 11%;">
    <ion-col><ion-label>{{ticketObtenido.fecha}}</ion-label></ion-col>
    <ion-col><ion-label>{{ticketObtenido.hora}}</ion-label></ion-col>
  </ion-row>
  <ion-row style="padding-left: 3%;">
    <ion-col size="1"><ion-icon name="earth"></ion-icon></ion-col>
    <ion-col><ion-label>Hora estándar de Europa central</ion-label></ion-col>
  </ion-row>
  <ion-row style="padding-left: 3%;">
    <ion-col size="1"><ion-icon name="reload"></ion-icon></ion-col>
    <ion-col><ion-label>No se repite</ion-label></ion-col>
  </ion-row>
</ion-content>
