.boton{
    background-color: rgb(0, 48, 205);
    border-radius: 10px;
    position: relative;
    color: white;
    left: 60%;
    
}
ion-buttons{
    height: 10%;
}
.textTicket{
    text-align: center;
    margin-bottom: 4%;
    margin-top: 2%;
}
.columnaEvento{
    border-bottom: 1px solid grey;

}
.columnaEvento .email{
    color: grey;
    font-size: 14px;
}