.icono{
    
    color:white;
}
.tickets{
    width: 100%;
    height: 25%;
    
}
.textTickets{
 color: white;
 font-weight: 600;
 font-size: 12px;;
 
}
ion-toggle {
    --background: white;
    --background-checked: yellow;
  
    --handle-background: rgb(18, 215, 250);
    --handle-background-checked: rgb(18, 215, 250);
}
  
ion-list ion-item {
    
    color: #3dc2ff;
    font-weight: 600;
    font-size: 11px;
}

ion-list ion-item ion-icon{
    
        color: #3dc2ff;
        font-size: 22px;
        font-weight: 600;
    
}
.textCerrarSesion{
    padding-left: 30%;
    font-size: 12px;
}
ion-row ion-icon{
    color:gold;
    font-size: 22px;
}
.titulo{
    color:#3dc2ff;
    font-size: 17px;
}
.datoSecundario{
    font-size: 12px;
}
.titulohistorico{
    color: #3dc2ff;
    font-weight: 600;
    font-size: 11px;
    text-align: center;
    padding-left: 30%;
    width: 100%;
}
.datos{
    border-right: 0.5px solid  rgb(161, 160, 160) ;
    text-align: center;
    color: grey;
    padding-left: 35px;
    padding-right: 35px;
    font-size: 10px;
}
.rowPrincipal{
    width: 100%;


}
.numeros{
    padding-left: 20px;
}
ion-avatar{
    position: relative;
    left: 20%;

}
.botonEditor{
    position: absolute;
    width: 13%;
    height: 25%;
    top: 65%;
    left: 45%;
}