

<app-barra-usuario></app-barra-usuario>


<ion-content>
  <app-header-secundario-aitana004 [titulo]="'PERFIL DE USUARIO'" [numIcono]="2"></app-header-secundario-aitana004>
  <ion-row>
    <ion-col>
      <ion-avatar>
        <img src="../../assets/images/men.jpg">
      </ion-avatar>
      <ion-avatar class="botonEditor">
        <img src="https://cdn3.iconfinder.com/data/icons/social-messaging-ui-color-line/254000/35-512.png">
      </ion-avatar>
    </ion-col>
    <ion-col>
      <ion-row class="titulo">{{usuario.nombre}}</ion-row>
      <ion-row class="datoSecundario">@{{usuario.username}}</ion-row>
      <ion-row class="datoSecundario">{{usuario.email}}</ion-row>
      <ion-row>
        <div class="Estrella" *ngFor="let estrella of estrellas" [ngSwitch]="estrella">
          <ion-icon name="star" *ngSwitchCase="1"></ion-icon>
          <ion-icon name="star-half" *ngSwitchCase="0.5"></ion-icon>
          <ion-icon name="star-outline" *ngSwitchCase="0"></ion-icon>
          
        </div>
        <!--
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star-half"></ion-icon>-->
        <ion-label style="padding-left: 7%;">{{valoracion}}</ion-label>
      </ion-row>
    </ion-col>
  </ion-row>
  <ion-row class="rowPrincipal">
    <ion-row class="titulohistorico" >Histórico de subasta</ion-row><br>
    <ion-row>
    <ion-col class="datos">
      <ion-row >
        Subastados
      </ion-row>
      <ion-row  #subastado>
        <label class="numeros">0</label>
      </ion-row>
    </ion-col>
    <ion-col class="datos">
      <ion-row>
        Pujados
      </ion-row>
      <ion-row>
        <label #pujados class="numeros">1</label>
      </ion-row>
    </ion-col>
    <ion-col class="datos">
      <ion-row>
        GANADOS
      </ion-row>
      <ion-row>
        <label #ganados class="numeros">3</label>
      </ion-row>
      </ion-col>
    </ion-row>
  </ion-row>
  <ion-list>
    <ion-item [routerLink]="['/aitana004b']">
      
      <ion-icon name="person-circle" ></ion-icon>
      <ion-label>Editar tu perfil</ion-label>
      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
    </ion-item>
    <ion-item [routerLink]="['/aitana004c']">
      
      <ion-icon name="finger-print-outline" ></ion-icon>
      <ion-label>Contraseña y huella</ion-label>
      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
    </ion-item>
    <ion-item>
      
      <ion-icon name="cog-outline"></ion-icon>
      <ion-label>Notificaciones push</ion-label>
      <ion-toggle color="primary" *ngIf="startToggle==0" slot="end"  #toggle1 (click)="activarODesactivarNofificacion(toggle1)"></ion-toggle>
      <ion-toggle color="primary" *ngIf="startToggle==1" slot="end"  #toggle2 (click)="activarODesactivarNofificacion(toggle2)" checked></ion-toggle>
    </ion-item>
    <ion-item [routerLink]="['/aitana004e']">
      
      <ion-icon name="mail-outline" ></ion-icon>
      <ion-label>Mensaje pendientes</ion-label>
      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
    </ion-item>
    <ion-item [routerLink]="['/aitana004f']">
      
      <ion-icon name="documents-outline"></ion-icon>
      <ion-label>Documentación pendiente</ion-label>
      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
    </ion-item>
    <ion-item [routerLink]="['/aitana004g']">
      
      <ion-icon name="cash-outline"></ion-icon>
      <ion-label>Mi facturación</ion-label>
      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
    </ion-item>
    <ion-item [routerLink]="['/aitana004j']">
      
      <ion-icon name="warning-outline"></ion-icon>
      <ion-label>Reportar error</ion-label>
      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
    </ion-item>
    
    <ion-item class="textCerrarSesion" lines="none" [routerLink]="['/aitana001a']">
      <ion-icon name="power-outline"></ion-icon>
      <ion-label>Cerrar sesión </ion-label>
    </ion-item>
  </ion-list>
  
</ion-content>
