.titulo{
    margin-top: 10%;
    text-align: center;
    font-family: fantasy;
    color: white;
    font-size: 85px;
}


ion-content {
    --background: linear-gradient(#810cee, #4da5f7);
}

.contenedor {
    border-radius: 10px;
    background: white;
    padding: 10px;
    height: 200px;
    width: 90%;
    margin: 0 auto;
  }




.icono{
    color: red;
    width: 30px;
    height: 40px;
    
}

.contenedor-item{
    padding-left: -21%;
}


.boton{
    padding-left: 10%;
    width: 95%;
    
}