<ion-content>

  <ion-text>
    <h1 class="titulo"><b>Aitana</b></h1>
  </ion-text>

  <br>

  <div class="contenedor">
    <ion-item color="transparent" lines="none" class="contenedor-item">
      <ion-icon  name="close-circle-outline" class="icono"></ion-icon>
      <ion-label>alonso.carlos@mail.com</ion-label>
    </ion-item>
    <p style="font-size: small; margin-left: 15%; margin-top: -2%; color: grey;" >email pendiente de confirmar</p>

    <br>

    <p style="font-size: 90%; margin-top: -3%; ">Pulse CONFIRMAR para validar por medio de <br> su correo eletrónico la dirección usada.</p>

    <div style="margin-left: -5%;">
      <ion-button  color="warning" class="boton" [routerLink]="['/aitana003b']">CONFIRMAR</ion-button>
    </div>
    
  </div>

</ion-content>
