<app-barra-usuario></app-barra-usuario>

<ion-content>
  <app-header-secundario-aitana006 [titulo]="'CITAS DE ESTE TICKET'" [ticket]="this.ticketId" [opcionVuelta]="4"></app-header-secundario-aitana006>
  
  
  <ion-row class="tituloInput"> PROBLEMA</ion-row>
  <ion-row>
    <ion-item>
      
        <ion-select placeholder="Seleccione una opcion" value="brown" #opcion>
          <ion-select-option value="brown">{{diagnosisTicket.problema}}</ion-select-option>
        </ion-select>
      
  
    </ion-item>
  </ion-row>
  <ion-row class="tituloInput">
    <ion-col ><ion-label>PN</ion-label></ion-col>
    <ion-col size="1"> <ion-icon name="barcode-outline" class="iconoBarra"></ion-icon></ion-col>
  </ion-row>
  <ion-row>
    <ion-input value="{{diagnosisTicket.pin}}" #pin></ion-input>
  </ion-row>
  <ion-row class="tituloInput">
    CANTIDAD
  </ion-row>
  <ion-row>
    <ion-input value="{{diagnosisTicket.cantidad}}" #cantidad></ion-input>
  </ion-row>
  <ion-row class="tituloInput">DESCRIPCIÓN</ion-row>
  <ion-row><ion-input placeholder="{{diagnosisTicket.descripcion}}" #descripcion></ion-input></ion-row>
  <ion-row class="tituloInput">ALMACEN SAP/ESTADO</ion-row>
  <ion-row><ion-input placeholder="{{diagnosisTicket.alamacenSap}}" #almacen></ion-input></ion-row>
  <ion-row class="columnaCrearDiagnosis" >
    <ion-button color="secondary" (click)="actualizarValores(opcion,pin,cantidad,descripcion,almacen)" >ACTUALIZAR DIAGNOSIS</ion-button>
  </ion-row>
  <app-footer></app-footer>
  
</ion-content>
