<app-barra-usuario></app-barra-usuario>

<ion-content>
  <app-header-secundario-aitana006 [titulo]="'ADJUNTAR DOCUMENTO'" [opcionVuelta]="5"></app-header-secundario-aitana006>
  
   
  <ion-row class="imagen">
    <ion-icon name="image-outline" #imagen></ion-icon>
  </ion-row>
  <ion-row>
    <ion-buttons>
      <ion-button> <ion-icon name="camera-outline" slot="start"></ion-icon><ion-label>HACER FOTO</ion-label></ion-button>
      <ion-button> <ion-icon name="images-outline"></ion-icon><ion-label> GALERÍA</ion-label></ion-button>
    </ion-buttons>
  </ion-row>
  <ion-row class="tituloSelect">TIPO DE ADJUNTO</ion-row>
  <ion-row>
    <ion-item class="itemPersonalizado"><ion-select placeholder="Selecciona un tipo..." #tipo></ion-select></ion-item>
    
  </ion-row>
  <ion-row class="columnaAddDocumento">
    <ion-button color="secondary"  (click)="adjuntarFoto(imagen,tipo)">ADJUNTAR DOCUMENTO</ion-button>
  </ion-row>
  <app-footer></app-footer>
</ion-content>
