.headerSecondario{
    width: 100%;
}
.headerSecondario ion-col{
    position: relative;
    left: 30%;
    padding-top:3% ;
    padding-bottom: 1% ;
    
}
.imagen{
    width: 100%;
    height: 50%;
}
.imagen ion-icon{
    position: relative;
    top: 40%;
    left: 40%;
    width: 70px;
    height: 70px;
    color: aqua;
}

ion-buttons{
    width: 100%;
}
ion-button{
    border-radius: 5px;
    background: rgb(0, 162, 255);
    color: white;
    width: 100%;
    margin-left: 3%;
    margin-right: 3%;
}
.itemPersonalizado{
    width: 100%;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 3%;
    border-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.534);
}

.tituloSelect{
    margin-top: 4%;
    margin-left: 3%;
    color: aqua;
    font-weight: 600;
}

.columnaAddDocumento{
    margin-top: 4%;
    border-top: 1px solid grey;
    padding-left: 10%;
    padding-right: 10%;
}
