<ion-header>
</ion-header>

<ion-content>
  <ion-row>
    <img src="../../assets/images/aitana-title.png">
  </ion-row>
  
  <ion-row>
    <ion-label class="textRecuperar">RECUPERAR CONTRASEÑA</ion-label>
  </ion-row>
  <ion-row>
    <ion-label class="textDescripcionRecuperar">Escriba la dirección de correo eléctronico con el que se ha registrado. Se le enviará un correo
      electrónico con un código.
    </ion-label>
  </ion-row>
  <ion-row>
    <ion-item class="itemInput">
      <ion-input type="text" placeholder="Correo electrónico" #correo></ion-input>
    </ion-item>
    
  </ion-row>
  <ion-row class="recordarPass" [routerLink]="['/aitana001a']" >
    <ion-label>¿Has recordado la contraseña? </ion-label>
  </ion-row>
  <ion-row>
    <ion-button color="warning" shape="round" expand="block" class="botonPrincipal"  (click)="comprobarCorreo(correo)" >
      ENVIAR
    </ion-button>
    
  </ion-row>
</ion-content>
