

.textRecuperar{
    margin-top: 10%;
    font-weight: 600;
    padding:0% 17% ;
    color:rgb(255, 208, 0);
    text-align: center;

}
.itemInput{
    border-left: thick solid rgb(255, 208, 0);
    margin: 10% 7%;
    width: 100%;
    
}
.textDescripcionRecuperar{
    padding: 3%5%;
    color: white;
    text-align: center;

}
.error{
    margin-left:4% ;
    margin-right: 4%;
    margin-bottom: 3%;
    border-radius: 10px;
    background-color: red;
    color: yellow;
    
    padding-left: 3%;
    padding-top: 3%;
    padding-bottom: 3%;
    
}

.recordarPass{
    font-size: 12px;
    width: 70%;
    position: relative;
    left: 50%;
    color: white;
    text-decoration: underline;
    margin-bottom: 1%;
}