

<ion-content padding  padding-vertical><br>
  <ion-row>
    <img src="../../assets/images/aitana-title.png">
  </ion-row>
    
    
  <ion-row  class="input">
    
    <!--<ion-label *ngIf="mensajeError!=''">{{mensajeError}}</ion-label>-->
    <ion-item>
      
    <ion-icon name="person" slot="start"  color="warning"></ion-icon>
      <ion-input type="text" placeholder="Usuario" #usuario></ion-input>
    </ion-item>
    
  
  </ion-row><br>
  <ion-item  class="input">
    <ion-icon name="lock-closed" color="warning" slot="start"  ></ion-icon>
    
      <ion-input placeholder="Contraseña" type="password" #pass></ion-input>
      <ion-icon name="eye" slot="end" (click)="verPass(pass,icono)" #icono></ion-icon>
    </ion-item>
  <ion-row  class="input">
    
    
  </ion-row>
  
  <ion-row>
      <ion-col>
        
       
      
      </ion-col>
      <ion-col>

        <a href="./aitana001b" ><ion-label class="textOlvido" >¿Olvidaste tu contraseña?</ion-label></a>
      </ion-col>
    
  </ion-row>
  <ion-row>
    
      <ion-button color="warning" shape="round" expand="block" class="botonPrincipal" (click)="iniciarSesion(usuario,pass)">
        INICIAR SESIÓN
      </ion-button>
    
  </ion-row>
  <ion-row >
    <ion-label class="textAunNoRegistrado" [routerLink]="['/aitana001d']"  > Aún no me he registrado</ion-label>
  </ion-row>
    <hr>
  <ion-row>
    <ion-label class="textRegistrar">Regístrate usando la cuenta de estos proveedores</ion-label>
    
  </ion-row>
  <ion-row>
    <ion-col>
      
      <ion-button icon-end class="botonAcceder" >
        <div class="custom-button-content">
          <ion-icon name="logo-twitter"  ></ion-icon>
          <ion-label class="textCompartir">TWITTER</ion-label>
        </div>
        
      </ion-button>
      
    </ion-col>
    <ion-col>
      
      <ion-button color="primary" icon-end class="botonAcceder" >
        <div class="custom-button-content">
        <ion-icon name="logo-facebook"   ></ion-icon>
        <ion-label class="textCompartir">FACEBOOK</ion-label>
        
        </div>
      </ion-button>
      
    </ion-col>
    <ion-col  >
      <ion-button color="danger" icon-end class="botonAcceder"  (click)="iniciarConGoogle()">
        <div class="custom-button-content">
        <ion-icon name="logo-google" ></ion-icon>
        <ion-label class="textCompartir">GOOGLE</ion-label>
      </div>
      </ion-button>
      
    </ion-col>
  </ion-row>
  <br><br><br><br>
</ion-content>
