@media only screen and (max-width: 999px) {
.titulo{
    margin-bottom:20% ;
    
}
.input{
    background-color: white;
    
    margin-left: 6%;
    margin-top: 8px;
    margin-right: 6%;
}
.textOlvido{
    color:white;
    position: relative;
    right: 0%;
    
    font-style: italic;
    font-size: 12px;

}
.textAunNoRegistrado{
    color:white;
    position: relative;
    right: 0%;
    left: 60%;
    
    font-style: italic;
    font-size: 12px;
}
.textRegistrar{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 13px;
    padding:0% 20%;
    text-align: center;

}
.recuerdame{

  color:white;
  margin-top: auto;
  margin-right: auto;

  
}

body{
    background: blue;
}
ion-content {
    --background: linear-gradient(#810cee, #4da5f7);
    --background: #fff url('../../../../assets/images/fondoAPP-Aitana-Intro.png') no-repeat center center / cover;
}
hr {
    padding-left: 5%;
    padding-right: 5%;
    height: 4px !important;
    width: 30% !important;
    background: white !important;
    display: block !important;
    font-size: 2em !important;
    opacity: 1 !important;
    visibility: visible !important;
  }
.custom-button-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    height: 50%;
    
  }
  .botonAcceder{
      height: 200%;
      
  }
.textCompartir{
    font-size: 8px;
    font-family:Arial, Helvetica, sans-serif;
}
ion-col{
    
    padding-right: 0;
    padding-right: 0;
    margin-left: 5%;
    margin-right: -5%;
}

.error{
    margin-left:4% ;
    margin-right: 4%;
    margin-bottom: 3%;
    border-radius: 10px;
    background-color: red;
    color: yellow;
    
    padding-left: 3%;
    padding-top: 3%;
    padding-bottom: 3%;
    
}
}


@media only screen and (min-width: 1000px) {
    .titulo{
        margin-bottom:20% ;
        
    }
    .input{
        background-color: white;
        
        margin-left: 6%;
        margin-top: 8px;
        margin-right: 6%;
    }
    .textOlvido{
        color:white;
        position: relative;
        right: 0%;
        
        font-style: italic;
        font-size: 24px;
    
    }
    .textAunNoRegistrado{
        color:white;
        position: relative;
        right: 0%;
        left: 60%;
        
        font-style: italic;
        font-size: 24px;
    }
    .textRegistrar{
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        position: relative;
        left: 35%;
        font-weight: 600;
        font-size: 26px;
        
        text-align: center;
    
    }
    .recuerdame{
    
      color:white;
      margin-top: auto;
      margin-right: auto;
    
      
    }
    
    body{
        background: blue;
    }
    ion-content {
        --background: linear-gradient(#810cee, #4da5f7);
        --background: #fff url('../../../../assets/images/fondoAPP-Aitana-Intro.png') no-repeat center center / cover;
    }
    hr {
        padding-left: 5%;
        padding-right: 5%;
        height: 4px !important;
        width: 80% !important;
        background: white !important;
        display: block !important;
        font-size: 2em !important;
        opacity: 1 !important;
        visibility: visible !important;
      }
    .custom-button-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        height: 50%;
        font-size: 30px;
        
      }
      .botonAcceder{
          height: 200%;
          
      }
      .custom-button-content  ion-icon{
          font-size: 54px;;
      }
    .textCompartir{
        font-size: 26px;
        font-family:Arial, Helvetica, sans-serif;
    }
    ion-col{
        
        padding-right: 0;
        padding-right: 0;
        margin-left: 5%;
        margin-right: -5%;
    }
    
    .error{
        margin-left:4% ;
        margin-right: 4%;
        margin-bottom: 3%;
        border-radius: 10px;
        background-color: red;
        color: yellow;
        
        padding-left: 3%;
        padding-top: 3%;
        padding-bottom: 3%;
        
    }
}