ion-content{
    
    --background: #3dc2ff ;
}
.iconoItem{
    --background: linear-gradient(0deg, #3dc2ff 50%, white 50%);
}
ion-item,item-list,item-row{
    --background: #3dc2ff ;
    --color:white;
}
ion-icon{
    color:white;
}
ion-grid{
    background: white;
    padding-top: 10%;
    padding-bottom:10%;
}
ion-row{
    padding-left: 25%;
}
.textNombre{
    color:#3dc2ff;
    
    text-align: center;
}
ion-avatar{
    
    width: 30%;
    height: 70%;
    
    position: relative;
    left:30%;
    background: white;
    border:thick solid #3dc2ff;
}
.textCorreo{
    font-size: 10px;
}

