<app-barra-usuario></app-barra-usuario>

<ion-content>
  <app-header-secundario-aitana006 [titulo]="'SEGUIMIENTOS'" [opcionVuelta]="2"></app-header-secundario-aitana006>
  
  
  <ion-row class="textEscribirComentario" style="margin-bottom: 3%;">
    <ion-label style="margin-left: 3%;">Crear seguimiento/cierre</ion-label>
  </ion-row>
  <ion-row >
    <ion-label style="color:aqua; margin-left: 3%;">Comentario</ion-label>
  </ion-row>
  <ion-row >
    
      <ion-textarea placeholder="Escriba aquí tu comentario..." class="inputComentario" rows="6" #texto></ion-textarea>
    
  </ion-row>
  <ion-row class="textNotificar">
    <ion-col class="textoNotificar">
      <ion-label >Notificar de cierre</ion-label>
    </ion-col>
    <ion-col size="2">
      <ion-toggle #toggle></ion-toggle>
    </ion-col>
  </ion-row>
  <ion-row class="columnaBoton">
    <ion-button (click)="enviarComentario(texto,toggle)">Enviar</ion-button>
  </ion-row>
  <app-footer></app-footer>
</ion-content>
