.headerSecondario{
    width: 100%;
}
.headerSecondario ion-col{
    position: relative;
    left: 30%;
    padding-top:3% ;
    padding-bottom: 3% ;
    
}
.tituloCitas{
    border-bottom: 1px solid grey;
    color:rgb(0, 183, 255);;
    
    font-weight: 600;
    width: 100%;
}
.textEscribirComentario{
    margin-top: 3%;
    
    padding-bottom: 4%;
    width: 100%;
    border-bottom: 1px solid rgba(128, 128, 128, 0.753);
    color: aqua;
}

.textNotificar{
    margin-top: 3%;
    
    width: 100%;
    border-bottom: 1px solid grey;
    color: aqua;
}
.inputComentario{
    border-radius: 5px;
    border-top: 1px solid rgba(128, 128, 128, 0.493);
    border-bottom: 1px solid rgba(128, 128, 128, 0.493);
    border-right: 1px solid rgba(128, 128, 128, 0.932);
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 3%;
    width: 100%;
   
}
ion-button{
    width: 100%;
    margin-left: 7%;
    margin-right: 7%;
    background: rgb(22, 93, 224);
}
.textoNotificar{
    padding-left: 3%;
    padding-top: 4%;
}
.columnaBoton{
    border-top:1px solid grey ;
    position: relative;
    top: 27%;
}