<app-barra-usuario></app-barra-usuario>

<ion-content>
  <ion-row >
    <ion-item color="secondary" class="headerSecondario">
      <ion-icon name="arrow-back-outline" class="icono" [routerLink]="['/aitana006j']"></ion-icon>
    <ion-label class="textTickets">PIEZAS</ion-label>
    <ion-col>
      <ion-row><ion-label >TICKET</ion-label></ion-row>
      <ion-row><ion-label>105381</ion-label></ion-row>
    </ion-col>
    </ion-item>
    
  </ion-row>
  <ion-row><ion-label class="textContenido">CONTENIDO</ion-label></ion-row>
  <ion-item><ion-input placeholder="Contenido.." ></ion-input></ion-item>
  <ion-row><ion-label class="textContenido">AUTOR</ion-label></ion-row>
  <ion-item><ion-select placeholder="Seleccionar un autor" style="width: 100%;" ></ion-select></ion-item>
  <ion-row><ion-button  color="danger">ELIMINAR FILTROS</ion-button></ion-row>
  <ion-row><ion-button > ACEPTAR</ion-button></ion-row>
  <app-footer></app-footer>
</ion-content>
