

<app-barra-usuario></app-barra-usuario>

<ion-content>

  <app-header-secundario-aitana004 [titulo]="'CONTRASEÑA Y HUELLA'" [numIcono]="1"></app-header-secundario-aitana004>

  <p class="text-azul" [routerLink]="['/aitana004d']"><b>Contraseña</b></p>
  <p class="text-gris">Cambia tu contraseña de acceso.</p>


  <hr>

  <ion-item lines="none" color="transparent">
    <p class="text-azul" style="font-size: 90%; margin-left: 0%;"><b>Desbloqueo Huella digital</b></p>
    <p class="text-gris" style="position: relative; left: -57%; margin-top: 11%;">Desactivado</p>

    <ion-toggle color="primary"></ion-toggle>

  </ion-item>

  <hr>




  <app-footer></app-footer>


</ion-content>
