.contenedor-secundario{
    background-color: gold;
     height: 10%;
}

.texto-contenedorSecundario{
    margin-left: 15%; 
    margin-top: -8%; 
    color: white; 
    font-size: 19px;
}

ion-icon{
    margin-top: 5%; 
    color: white;
    font-size: 30px; 
    margin-left: 3%;
}

.text-azul{
    color: #30cdff;
    margin-left: 4%;
    
}

.text-gris{
    color: grey;
    margin-left: 4%;
    font-size: 60%;
    margin-top: -4%;
}

hr {
    border: 0;
    clear:both;
    display:block;
    width: 96%;               
    background-color: grey;
    height: 2px;
    opacity: 20%;
  }