

<app-barra-usuario></app-barra-usuario>

<ion-content>

  <app-header-secundario-aitana004 [titulo]="'MENSAJES PENDIENTES'" [numIcono]="1"></app-header-secundario-aitana004>


  <p class="texto-mensajes"><b>No tienes mensajes pendientes de leer.</b></p>

  <hr>


  <app-footer></app-footer>

</ion-content>
