ion-toolbar {
    --background: rgb(141,4,238);
    --background: linear-gradient(90deg, rgba(141,4,238,1) 16%, rgba(0,255,248,1) 91%) !important;
    padding-top: 10%;
    
}

ion-toolbar{
    height: 60px;
}


ion-avatar{
    width: 60%;
    height: 100%;
    margin-left: -3%;
}

.usuarioText{
    font-weight: 600;
    font-size: 12px;
}

ion-icon{
    margin-top: 5%; 
    color: white;
    font-size: 30px; 
    margin-left: 3%;
}


.icono{
    
    color:white;
}

.usuario{
    padding-left: 20%;
    color: white;
    
    
}


.imagenPais{
    width: 32px;
    height: 32px;
}


.contenedor-secundario{
    background-color: gold;
     height: 10%;
}

.texto-contenedorSecundario{
    margin-left: 15%; 
    margin-top: -8%; 
    color: white; 
    font-size: 20px;
}

.texto-mensajes{
    text-align: center;
    font-size: 70%;
    margin-top: 5%;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    font-family: fantasy;
 }

 hr {
    border: 0;
    clear:both;
    display:block;
    width: 96%;               
    background-color: grey;
    height: 1px;
    opacity: 20%;
  }