.titulo{
    margin-top: 10%;
    text-align: center;
    font-family: fantasy;
    color: white;
    font-size: 85px;
}


.tituloSecundario{
    margin-top: 10%;
    text-align: center;
    color: gold;
    font-size: 20px;
}

.texto{
    font-size: 20px;
    color: white;
    text-align: center;
}

.boton{
    margin-top: 10%;
    padding-left: 10%;
    width: 90%;
    
}



.inputs{
    margin-top: 8%;
    border-left: thick solid rgb(255, 208, 0);
    width: 90%;
    background-color: white;
    margin-left: 20px;
    
}

.botonPrincipal{
    padding-left: 10%;
    width: 90%;
    
}



ion-content {
    --background: linear-gradient(#810cee, #4da5f7);
}

.error{
    margin-left:4% ;
    margin-right: 4%;
    margin-bottom: 3%;
    border-radius: 10px;
    background-color: red;
    color: yellow;
    
    padding-left: 3%;
    padding-top: 3%;
    padding-bottom: 3%;
    
}