
<ion-content>

  <ion-row>
    <img src="../../assets/images/aitana-title.png">
  </ion-row>

  
  <ion-text>
    <h2 class="tituloSecundario"><b>RECUPERAR CONTRASEÑA</b></h2>
  </ion-text>

  <ion-text>
    <p class="texto">Escriba el código que ha recibido en la
      
      <br>dirección de correo eléctronico y cree su <br>
      
      contraseña para entrar en la aplicación.</p>
  </ion-text>

  
  <ion-item color="transparent" lines="none" class="inputs">
    <ion-input  placeholder="Introducir código" #codigo></ion-input>
  </ion-item>
 

  
  <ion-item color="transparent" lines="none" class="inputs">
    <ion-input name="password" placeholder="Nueva contraseña" [type]="showPassword ? 'text' : 'password'" #nuevaPass></ion-input>
    <ion-icon slot="end" [name]="iconoPassword" (click)="mostrarPassword()" ></ion-icon>
  </ion-item>
  
 
  <ion-item color="transparent" lines="none" class="inputs">
    <ion-input   type="password" placeholder="Repetir contraseña" #reNuevaPass></ion-input>
  </ion-item>

  <ion-button color="warning" shape="round" expand="block" class="boton" (click)="cambiarPass(codigo,nuevaPass,reNuevaPass )">ENTRAR</ion-button>
  
  

</ion-content>
