.headerSecondario{
    width: 100%;
}
.headerSecondario ion-col{
    position: relative;
    left: 30%;
    padding-top:3% ;
    padding-bottom: 3% ;
    
}
.bocadillo{
    padding-top:1% ;
    padding-bottom: 1%;
    background: rgb(11, 207, 93);
    color: white;
    width: 100%;
}
.triangulo{
    width: 0;
    height: 0;
    border-top: 20px solid rgb(11, 207, 93);
    border-left: 20px solid transparent;
    position: relative;
    background-color: grey;
    
    left: 3%;
}
.logo{
    border: 2px solid rgb(0, 183, 255);;
    border-radius: 50%;
    background:white;
    color: rgb(0, 183, 255);;
    
    padding: 4%;
    font-size: 60px;
    margin-left: 15%;
    
    
}
.textPrincipal{
    font-weight: 600;
    color: white;
}
.posicionIconoLlamada{
    position: relative;
    
    left: 60%;
    top: 35%;
}
.iconoLlamada{
    
    border-radius: 50%;
    background:black;
    color: grey;
    padding: 2%;
    height: 20px;
    width: 20px;
    position: relative;
    
}
ion-content{
    --background:grey;
}