<app-barra-usuario></app-barra-usuario>

<ion-content>
  <app-header-secundario-aitana006 [titulo]="'CITAS DE ESTE TICKET'" [ticket]="this.idTicket" [opcionVuelta]="2"></app-header-secundario-aitana006>
  
  <ion-row class="tituloCitas">
    <ion-label>Todas las citas</ion-label>
  </ion-row>
  <ion-row class="cuerpoCita">
    <ion-row  class="tituloCuerpo">
      <ion-col size="9" >
        <ion-label>{{citaTicket.fecha}}</ion-label>
      </ion-col>
      <ion-col>
        <ion-icon name="return-down-back"></ion-icon>
      <ion-icon name="calendar"></ion-icon>
      <ion-icon name="chatbubbles"></ion-icon>
      </ion-col>
      
      
    </ion-row>
    <ion-row class="titulo">{{ticket.cliente}}</ion-row>
    <ion-row>
      
      <ion-col size="1"><ion-icon name="compass-outline"></ion-icon></ion-col>
      <ion-col>
        <ion-row>{{ticket.direccion}}</ion-row>
       <!-- <ion-row>41009 (SEVILLA)</ion-row>-->
      </ion-col>
    </ion-row>
    
    <ion-row class="botones">
      <ion-buttons class="botones">
        <ion-button  class="botonVerde">ACEPTAR</ion-button>
        <ion-button shape="round" class="botonRojo">RECHAZAR</ion-button>
        
      </ion-buttons>
    </ion-row>
  </ion-row>
  <ion-row class="columnaCrearCita">
    <ion-button color="secondary">CREAR CITA</ion-button>
  </ion-row>
  <app-footer></app-footer>
</ion-content>
