.headerSecondario{
    width: 100%;
}
.headerSecondario ion-col{
    position: relative;
    left: 30%;
    padding-top:3% ;
    padding-bottom: 3% ;
    
}
.tituloCitas{
    border-bottom: 1px solid grey;
    color:rgb(0, 183, 255);
    font-weight: 600;
}
.cuerpoCita{
    margin-top: 3%;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 10px;
    border: 1px solid grey;
    
   
}
.cuerpoCita .titulo{
    position: relative;
    top: 30%;
    color: rgb(0, 183, 255);;
    width: 100%;
}
.cuerpoCita .tituloCuerpo{
    width: 100%;
    margin-left: 1%;
    margin-right: 1%;
    border-bottom: 1px solid rgba(128, 128, 128, 0.527);
    color: aqua;
}
.cuerpoCita .botonRojo{
    background-color: red;
    color: white;
    border-radius: 5px;
    margin-left: 3%;
    margin-bottom: 2%;
    width: 100%;
}
.cuerpoCita .botonVerde{
    background: rgb(2, 192, 2);
    color: white;
    border-radius: 5px;
    margin-bottom: 2%;
    width: 100%;
    margin-right: 2%;
}
.cuerpoCita .botones{
    width: 100%;
}

.columnaCrearCita{
    border-top: 1px solid gray;
    position: relative;
    top: 55%;
}
.columnaCrearCita ion-button{
    margin-left: 3%;
    margin-right: 3%;
    width: 100%;
}
.tituloCuerpo ion-icon{
    font-size: 20px;
}