<app-barra-usuario></app-barra-usuario>

<ion-content>
  <app-header-secundario-aitana004 [titulo]="'MI FACTURACIÓN'" [numIcono]="1"></app-header-secundario-aitana004>
  <ion-buttons >
    <ion-button  class="facturacionNoSeleccionada" expand="full" [routerLink]="['/aitana004g']" >
      <ion-label>Autorizado</ion-label>
    </ion-button>
    <ion-button   class="facturacionSeleccionada" expand="full" >
      <ion-label>Pendiente</ion-label>
    </ion-button>
    <ion-button class="facturacionNoSeleccionada" expand="full" [routerLink]="['/aitana004i']">
      <ion-label >Pedidos</ion-label>
    </ion-button>
    
  </ion-buttons>
  <ion-row>
    <ion-label class="textos">No tienes facturación pendiente.</ion-label>
  </ion-row>
  <ion-item lines="none" class="informacionTickets">
    <ion-label slot="start">0 tickets autorizados </ion-label>
    <ion-label slot="end">Total:0€</ion-label>
  </ion-item>
  <app-footer></app-footer>
</ion-content>
