.tickets{
    width: 100%;
    height: 25%;
    color: white;
}
.icono{
    
    color:white;
}
.textTickets{
    color: white;
    font-weight: 600;
    font-size: 12px;;
    
}

ion-buttons{
    width: 100%;
    border-collapse: collapse;
}
.facturacionNoSeleccionada{
    --background: rgb(161, 161, 161);
    width:100%;
    margin: 0 0 0 0;

}
.facturacionSeleccionada{
    --background: rgb(16, 141, 243);
    color:white;
    width:100%;
    margin: 0 0 0 0;
}
.textos{
    position: relative;
    padding-top: 4%;
    left: 25%;
    right: 25%;
    text-align: center;
    font-size: 12px;
}


.informacionTickets{
    position: relative;
    top:70%;
    font-size: 12px;
    --background: grey;
    color: white;
}