

.textRecuperar{
    width: 100%;
    font-weight: 600;
    
    color:rgb(255, 208, 0);
    text-align: center;

}
.itemInput{
    border-left: thick solid rgb(255, 208, 0);
    margin: 10% 7%;
    width: 100%;
    
}
.textDescripcionRecuperar{
    padding: 3%5%;
    color: white;
    text-align: center;

}

.error{
    margin-left:4% ;
    margin-right: 4%;
    margin-bottom: 3%;
    border-radius: 10px;
    background-color: red;
    color: yellow;
    
    padding-left: 3%;
    padding-top: 3%;
    padding-bottom: 3%;
    
}