<ion-header>
  
</ion-header>

<ion-content>
  <ion-row>
    <img src="../../assets/images/aitana-title.png">
  </ion-row>
  
  <ion-row>
    <ion-label class="textRecuperar">CÓDIGO DE SEGURIDAD</ion-label>
  </ion-row>
  <ion-row>
    <ion-label class="textDescripcionRecuperar">Te hemos enviado un correo electrónico con un código para comprobar que eres tú quien ha iniciado sesión.
    </ion-label>
  </ion-row>
  <ion-row>
    <ion-item class="itemInput">
      <ion-input type="text" placeholder="Introducir código" #codigo></ion-input>
    </ion-item>
    
  </ion-row>
  <ion-row>
    <ion-button color="warning" shape="round" expand="block" class="botonPrincipal" (click)="validarCodigo(codigo)" >
      ENTRAR
    </ion-button>
  </ion-row>
</ion-content>
