.icono{
    
    color:white;
    font-size: 25px;
    position: relative;
    top: 21%;
}
.tickets{
    width: 100%;
    height: 100%;
    
}
.textTickets{
 color: white;
 font-weight: 600;
 font-size: 15px;;
 position: relative;
 top: 27%;
}
ion-row{
    background: rgba(253, 186, 1, 0.774);
    height: 10%;
    padding-left: 3%;
}