<ion-row class="columnaTitulo" >
  <ion-col size="1"> <ion-icon name="wallet-outline" class="icono" (click)="volver()"></ion-icon></ion-col>
  <ion-col>
    <ion-label class="textTickets">TUS TICKETS</ion-label>
  </ion-col>
  
  
</ion-row>

