.headerSecondario{
    width: 100%;
}
.rowHeader{
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 4%;
}
.headerSecondario ion-col{
    position: relative;
    left: 30%;
    padding-top:3% ;
    padding-bottom: 3% ;
    
}

.titulo{
    border-bottom: 1px solid grey;
    color: aqua;
    padding-left: 2%;
    padding-bottom: 2%;
}

.contenido{
    border-radius: 5px;
    border: 1px solid grey;
    margin:3% 3% 3% 3%;

}

.contenido .titulo{
    border: 0px;
    color: aqua;
    font-size: 18px;
}
.contenido .infoExtra{
    font-size: 12px;
    margin-left: 3%;
}

img{
    width: 70px;
    height: 80px;
}

.columnaAddDocumento{
    border-top: 1px solid gray;
    position: fixed;
    top: 86%;
    width: 100%;
    

}
.columnaAddDocumento ion-button{
    margin-left: 3%;
    margin-right: 3%;
    width: 94%;
    
}