<app-barra-usuario></app-barra-usuario>

<ion-content>
  <app-header-secundario-aitana006 [titulo]="'DOCUMENTOS'" ></app-header-secundario-aitana006>
  
  <ion-row class="titulo"><ion-label>Todos los documentos</ion-label></ion-row>
  <ion-row class="contenido" *ngFor="let documento of documentos">
    <ion-col>
      <ion-row class="titulo">{{documento.titulo}}</ion-row>
      <ion-row style="padding-bottom: 3%;margin-left: 3%;">{{documento.tipo}}</ion-row>
      <ion-row class="infoExtra">Subido por: {{documento.nick}}</ion-row>
      <ion-row class="infoExtra">{{documento.fecha}}</ion-row>
    </ion-col>
    <ion-col size="2.5">
      <img src="../../../assets/images/imagenJPG.png">
    </ion-col>
  </ion-row>

  <ion-row class="columnaAddDocumento">
    <ion-button color="secondary" [routerLink]="['/aitana006q']">AÑADIR DOCUMENTO</ion-button>
  </ion-row>
  <app-footer></app-footer>
</ion-content>
