.headerSecondario{
    width: 100%;
}
.rowHeader{
    margin-left: 0%;
    margin-right: 0%;
    
}
.headerSecondario ion-col{
    position: relative;
    left: 30%;
    padding-top:3% ;
    padding-bottom: 3% ;
    
}
.tituloCitas{
    border-bottom: 1px solid grey;
    color:rgb(0, 183, 255);;
    font-weight: 600;
    width: 100%;
}

ion-input{
    border: 1px solid rgba(128, 128, 128, 0.356);
    margin-bottom: 3%;
    border-radius: 5px;

}
ion-item{
    width: 100%;
    border: 1px solid rgba(128, 128, 128, 0.356);

}
ion-item ion-input{
    border-radius: 5px;
    border: 0px solid rgba(128, 128, 128, 0.356);
}
ion-row{
    margin-left: 2%;
    margin-right: 2%;
}
.tituloInput{
    color: rgb(0, 183, 255);
    font-weight: 600;
    font-size: 15px;
}
.iconoBarra{
    width: 30px;
    font-weight: 600;
    height: 30px;
}

.columnaCrearDiagnosis{
    border-top: 1px solid gray;
    position: fixed;
    width: 100%;
    top: 86%;
    margin-left: 0%;
    margin-right: 0%;
}
.columnaCrearDiagnosis ion-button{
    margin-left: 3%;
    margin-right: 3%;
    width: 100%;
    
}
.tituloPN{
    background-color: gray;
    margin-left: 0%;
    margin-right: 0%;
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: center;
    color: white;
}
.tituloPN ion-label{
    position: relative;
    left: 20%;
}