<app-barra-usuario></app-barra-usuario>

<ion-content>
  <app-header-secundario-aitana006 [titulo]="'REPARACIÓN'" [opcionVuelta]="4" ></app-header-secundario-aitana006>
  
  
  <ion-row class="tituloPN"><ion-label>PN:13N0B0ADOAM0101 </ion-label></ion-row>
  <ion-row class="tituloInput">
    <ion-col ><ion-label>P/N ENTRGA ENVIADA</ion-label></ion-col>
    <ion-col size="1"> <ion-icon name="barcode-outline" class="iconoBarra"></ion-icon></ion-col>
  </ion-row>
  <ion-row>
    <ion-input placeholder="Indica el PN de la pieza" #pnEntrega></ion-input>
  </ion-row>
  <ion-row class="tituloInput">
    <ion-col ><ion-label>N/S ENTREGA ENVIADA</ion-label></ion-col>
    <ion-col size="1"> <ion-icon name="barcode-outline" class="iconoBarra"></ion-icon></ion-col>
  </ion-row>
  <ion-row>
    <ion-input placeholder="Indica el NS de la piesa..." #nsEntrega></ion-input>
  </ion-row>
  <ion-row class="tituloInput">
    <ion-col ><ion-label>P/N RETIDADO</ion-label></ion-col>
    <ion-col size="1"> <ion-icon name="barcode-outline" class="iconoBarra"></ion-icon></ion-col>
  </ion-row>
  <ion-row>
    <ion-input placeholder="Indica el PN de la pieza..." #pnRetirado></ion-input>
  </ion-row>
  <ion-row class="tituloInput">
    <ion-col ><ion-label>N/S RETIDADO</ion-label></ion-col>
    <ion-col size="1"> <ion-icon name="barcode-outline" class="iconoBarra"></ion-icon></ion-col>
  </ion-row>
  <ion-row>
    <ion-input placeholder="Indica el NS de la piesa..." #nsRetirado></ion-input>
  </ion-row>
  <ion-row class="tituloInput">ESTADO PIEZA NUEVA/ENTREGADA</ion-row>
  <ion-row class="columnaCrearDiagnosis">
    <ion-button color="secondary" (click)="actualizarPieza(pnEntrega,nsEntrega,pnRetirado,nsRetirado)">ACTUALIZAR DATOS DE PIEZA</ion-button>
  </ion-row>
  <app-footer></app-footer>
</ion-content>
