.contenedor-secundario{
    background-color: gold;
     height: 10%;
}

.texto-contenedorSecundario{
    margin-left: 15%; 
    margin-top: -8%; 
    color: white; 
    font-size: 16px;
}

ion-icon{
    margin-top: 5%; 
    color: white;
    font-size: 30px; 
    margin-left: 3%;
}


.icons-list{
    color: aqua;
    margin-top: 10%;
    margin: 5%;
    width: 22px;
    height: 22px;
}

.icons-list-pulsado{
    color: black;
    margin-top: 10%;
    margin: 5%;
    width: 22px;
    height: 22px;
    
   
}

.imagen{
    font-size: 30px; 
    margin-left: 3%;
    margin-top: 5%; 
    width: 22px;
    height: 22px;
}



.texto-items{
    color: aqua;
    font-size: 80%;
    margin-left: 8%;
    margin-top: 5%;
    position: relative;
}




.texto-color-pulsado{
    color: black;
    font-size: 80%;
    margin-left: 8%;
    margin-top: 5%;

}









