<app-barra-usuario></app-barra-usuario>

<ion-content>

  <app-header-secundario-aitana004 [titulo]="'DOCUMENTACION PENDIENTE'" [numIcono]="1"></app-header-secundario-aitana004>


  <p style="text-align: center; font-size: 80%;"><b>Tienes pendiente subir los siguientes documentos <br>  actualizados.Por favor, adjuntalos para disponer <br> de tu documentación al día.</b></p>

  <ion-list>
    <ion-item *ngFor="let item of items" (click)="cambiarColor(item)">
          <ion-icon  *ngIf="item.isClicked" class="icons-list-pulsado"  [name]="item.icono1"></ion-icon>
          <ion-label *ngIf="item.isClicked" class="texto-color-pulsado">{{ item.titulo }}</ion-label>
          <ion-icon  *ngIf="item.isClicked" class="icons-list-pulsado" [name]="item.icono2"></ion-icon>
       
          <ion-icon  *ngIf="!item.isClicked" class="icons-list"  [name]="item.icono1"></ion-icon>
          <ion-label *ngIf="!item.isClicked" class="texto-items">{{ item.titulo }}</ion-label>
          <ion-icon  *ngIf="!item.isClicked" class="icons-list" [name]="item.icono2"></ion-icon>
      </ion-item>
  </ion-list>


  <app-footer></app-footer>

</ion-content>
