/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";



.radio {
    color: green;
}

.colorFondo{
    
    color:rgb(1, 184, 184);
    .botonPrincipal{
        background: rgb(1, 184, 184);
        border-radius: 5px;
        color: white;
    }
    .botonSecondario{
        color:black
    }
    .inputs{
        background: red;
    }
}
.alert-radio-group.sc-ion-alert-md, .alert-checkbox-group.sc-ion-alert-md {
    position: relative;
    max-height: 240px;
    border-top: 0px solid var(--ion-color-step-150, #d9d9d9);
    border-bottom: 0px solid var(--ion-color-step-150, #d9d9d9);
    overflow: auto;
}
.colorFondo ion-label{
    
    //color: rgb(1, 184, 184);
    color: rgb(1, 184, 184);
    font-weight: 600;
    
}


.colorFondo ion-icon{
    width: 40px;
    height: 40px;
    
}
.colorFondo .textoPosicion{
    position: relative;
    bottom: 3%;
}
.error{
   
    --background: red;
    color: yellow;
    
}