.headerSecondario{
    width: 100%;
    height: 12%;
    background: #1CB3E9 ;
    color: white;
    font-weight: 600;
}
.headerSecondario ion-col{
    position: relative;
    margin-top: 4%;
    
    
}
.textTickets{
    position: relative;
    top: 6%;
    
}
.principal{
    height: 10%;
    background: #1CB3E9 ;
    color: white;
    font-weight: 600;
}
.ticket{
    font-weight: 100;
}
ion-icon{
    font-size: 25px;
}