<ion-row class="headerSecondario" >
  <ion-col size="1"><ion-icon name="arrow-back-outline" class="icono" (click)="volver()"></ion-icon></ion-col>
  <ion-col  class="textTickets"><ion-label>{{titulo}}</ion-label></ion-col>
  
    
  
  <ion-col size="3">
    <ion-row><ion-label>TICKET</ion-label></ion-row>
    <ion-row><ion-label class="ticket">{{ticket}}</ion-label></ion-row>
  </ion-col>
 
  
</ion-row>
